body.lichessTools tr.lichessTools-addToTeam td.lichessTools-joinTeam {
  text-align: center;
}

body.lichessTools:not([data-user]) tr.lichessTools-addToTeam td.lichessTools-joinTeam button {
  display:none;
}
