.analyse__moves .tview2:not(.redrawn) {
  display:none;
}

body.lichessTools .analyse__moves .tview2-column.redrawn {
  display:flex;
}

body.lichessTools .analyse__moves .tview2-inline.redrawn {
  display:block;
}
