body.lichessTools .lichessTools-chapterControls div[role="footer"] {
  display:flex;
  justify-content: space-around;
}

body.lichessTools .lichessTools-chapterControls:not(:has(div.study__chapters)) div[role="footer"] {
  display:none;
}

body.lichessTools .lichessTools-chapterControls div[role="footer"] button {
  flex-grow: 1;
}

body.lichessTools div.study__side.lichessTools-chapterControls {
  flex-grow:1;
}

body.lichessTools div.study__side.lichessTools-chapterControls div.study__chapters {
  flex-grow:1;
}
