body.lichessTools .analyse__tools.lichessTools-forkBehavior-chessbase .analyse__fork {
  border:1px dashed red;
  outline:1px dashed red;
  margin:-1px 0;
}

@media (max-width: 799.29px) and (orientation: portrait) {

  body.lichessTools .analyse__tools.lichessTools-forkBehavior-chessbase .analyse__fork {
    order:-1;
    display:flex;
  }

}