body.lichessTools div.lichessTools-searchMovesCommand {
  display: flex;
  align-items: center;
}

body.lichessTools div.lichessTools-searchMovesCommand .search {
  padding-left: 1em;
  flex-grow: 1;
  border: none;
}

body.lichessTools div.lichessTools-searchMovesCommand .position {
  margin: 0 0.5em;
  font-family: sans-serif;
  font-size: larger;
  font-weight: bold;
}

body.lichessTools div.lichessTools-searchMovesCommand .close {
  padding: 0 0.25em;
  background: none;
  color: var(--c-error);
}

body.lichessTools div.lichessTools-searchMovesCommand .prev,
body.lichessTools div.lichessTools-searchMovesCommand .next {
  padding:0.5em;
}