body.lichessTools section.lichessTools-explorerSnaps {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.25em;
}

body.lichessTools section.lichessTools-explorerSnaps>div {
  display: inline-block;
}

body.lichessTools section.lichessTools-explorerSnaps button.button {
  font-size: smaller;
  text-transform: none;
  margin-right: 0.5em;
}

body.lichessTools section.lichessTools-explorerSnaps>div button.button {
  margin-left: 0.5em;
}

body.lichessTools section.lichessTools-explorerSnaps button.remove {
  margin-left: -1.75em;
  width: 1.75em;
  height: 1.75em;
  top: -1.5em;
  right: -0.65em;
  background-color: rgba(0, 0, 0, .6);
  position: relative;
  border-radius: 50%;
}

body.lichessTools .explorer-title span.lichess.lichessTools-explorerSnaps {
  cursor: help;
}

/* Prettier */
body.lichessTools.lichessTools-prettier section.lichessTools-explorerSnaps button.button {
  padding: 0.5em !important;
}