body.lichessTools div.cg-wrap.lichessTools-moveAssistant square.move-dest {
  border-width: 2px;
  border-style: solid;
  border-radius: 25%;
  border-color: transparent;
}

body.lichessTools div.cg-wrap.lichessTools-moveAssistant square.move-dest .lichessTools-wdl {
  --deg: 0deg;
  position: absolute;
  height: 70%;
  top: 15%;
  right: 4px;
  width: 2px;
  background: linear-gradient(var(--deg), #00FF00 0%, #30FF00 var(--w), #FFFF00 var(--w), #FFFF00 calc(var(--w) + var(--d)), #FF3000 calc(var(--w) + var(--d)), #FF0000 100%);
}

body.lichessTools button.lichessTools-moveAssistant {
  color: #b0b0b0;
  font-size: 16px;
  align-self: center;
  background: none;
  border: none;
  outline: none;
}

body.lichessTools .ceval button.lichessTools-moveAssistant {
  margin-right: -3px;
}

body.lichessTools button.lichessTools-moveAssistant {
  transform: translate(0, -0.1em);
}

body.lichessTools button.lichessTools-moveAssistant:hover {
  transform: scale(1.3) translate(0, -0.1em);
}

body.lichessTools button.lichessTools-moveAssistant.lichessTools-enabled {
  color: #00A000;
}

body.lichessTools .lichessTools-hideMoveAssistant {
  display: disabled;
}

body.lichessTools div.lichessTools-moveListOptions-header {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
  max-height: 2em;
  gap: 1em;
}

body.lichessTools.mobile div.lichessTools-moveListOptions-header {
  order: 3;
}

body.lichessTools square.lichessTools-weakSquare {
  background: radial-gradient(circle at center, #ff000080, #ff000010);
}

body.lichessTools square.lichessTools-weakSquareOpponent {
  background: radial-gradient(circle at center, #00ff0080, #00ff0010);
}

body.lichessTools piece.lichessTools-hangingPawn {
  filter: drop-shadow(2px 4px 8px #ffff00);
}

body.lichessTools piece.lichessTools-backwardPawn {
  filter: drop-shadow(2px 4px 8px #ff0000);
}

body.lichessTools piece.lichessTools-isolatedPawn {
  filter: drop-shadow(2px 4px 8px #ff0000);
}

body.lichessTools piece.lichessTools-hangingPawnOpponent {
  filter: drop-shadow(2px 4px 8px #00ffff);
}

body.lichessTools piece.lichessTools-backwardPawnOpponent {
  filter: drop-shadow(2px 4px 8px #00ff00);
}

body.lichessTools piece.lichessTools-isolatedPawnOpponent {
  filter: drop-shadow(2px 4px 8px #00ff00);
}

/* Prettier Lichess CSS */

body.lichessTools.lichessTools-prettier button.lichessTools-moveAssistant.lichessTools-enabled {
  color: #00A000 !important;
}