body.lichessTools div.cg-wrap.lichessTools-moveAssistant square.move-dest {
  border-width: 2px;
  border-style: solid;
  border-radius: 25%;
  border-color: transparent;
}

body.lichessTools div.cg-wrap.lichessTools-moveAssistant square.move-dest .lichessTools-wdl {
  --deg: 0deg;
  position: absolute;
  height: 70%;
  top: 15%;
  right: 4px;
  width: 2px;
  background: linear-gradient(var(--deg), #00FF00 0%, #30FF00 var(--w), #FFFF00 var(--w), #FFFF00 calc(var(--w) + var(--d)), #FF3000 calc(var(--w) + var(--d)), #FF0000 100%);
}

body.lichessTools button.lichessTools-moveAssistant {
  color: #b0b0b0;
  font-size: 16px;
  margin-right: -3px;
  align-self: center;
  background: none;
  border: none;
  outline: none;
}

body.lichessTools button.lichessTools-moveAssistant {
  transform: translate(0, -0.1em);
}

body.lichessTools button.lichessTools-moveAssistant:hover {
  transform: scale(1.3) translate(0, -0.1em);
}

body.lichessTools button.lichessTools-moveAssistant.lichessTools-enabled {
  color: #00A000;
}

body.lichessTools .lichessTools-hideMoveAssistant {
  display: disabled;
}

/* Prettier Lichess CSS */

body.lichessTools.lichessTools-prettier button.lichessTools-moveAssistant.lichessTools-enabled {
  color: #00A000 !important;
}