body.lichessTools div.lichessTools-quickActions-tooltip {
  position: absolute;
  background: var(--c-bg-page);
  transform: translateY(calc(2px - 100%));
  flex-direction: column;
  border:1px #808080 solid;
  width: min-content;
  z-index: 3;

  display: none;
}

body.lichessTools button.fbt[data-act="menu"]:not(.active) + div.lichessTools-quickActions-tooltip button.fbt,
body.lichessTools button.board-menu-toggle-btn:not(.active) + div.lichessTools-quickActions-tooltip button.fbt,
body.lichessTools button.msg-app__convo__post__submit:not(.active) + div.lichessTools-quickActions-tooltip button.fbt {
  font-size: 1.3rem;
  height: 2.5em;
  border: none;
  min-width: 2.5em;
}

body.lichessTools div.lichessTools-quickActions-tooltip button.fbt:hover {
  background-color: var(--c-bg-zebra2);
}

body.lichessTools:not(.mobile) button.fbt[data-act="menu"]:not(.active):hover + div.lichessTools-quickActions-tooltip:has(button),
body.lichessTools button.fbt[data-act="menu"].lichessTools-quickActions + div.lichessTools-quickActions-tooltip:has(button),
body.lichessTools:not(.mobile) button.fbt[data-act="menu"]:not(.active) + div.lichessTools-quickActions-tooltip:has(button):hover,
body.lichessTools:not(.mobile) button.board-menu-toggle-btn.lichessTools-quickActions + div.lichessTools-quickActions-tooltip:has(button),
body.lichessTools button.board-menu-toggle-btn:not(.active):hover + div.lichessTools-quickActions-tooltip:has(button),
body.lichessTools:not(.mobile) button.board-menu-toggle-btn:not(.active) + div.lichessTools-quickActions-tooltip:has(button):hover,
body.lichessTools:not(.mobile) button.msg-app__convo__post__submit:not(.active):hover + div.lichessTools-quickActions-tooltip:has(button),
body.lichessTools button.msg-app__convo__post__submit.lichessTools-quickActions + div.lichessTools-quickActions-tooltip:has(button),
body.lichessTools:not(.mobile) button.msg-app__convo__post__submit:not(.active) + div.lichessTools-quickActions-tooltip:has(button):hover {
  display:flex;
}

body.lichessTools div.lichessTools-quickActions-tooltip .readComments.dontReadComments {
  opacity:0.5;
}

body.lichessTools main.lichessTools-quickActions-practice button[data-mode="practice"]:not(.active) {
  display:none;
}

/* LichessHelper CSS */

body.lichessTools.lichessTools-lichessHelper button.fbt[data-act="menu"]:not(.active) + div.lichessTools-quickActions-tooltip button.fbt,
body.lichessTools.lichessTools-lichessHelper button.board-menu-toggle-btn:not(.active) + div.lichessTools-quickActions-tooltip button.fbt,
body.lichessTools.lichessTools-lichessHelper button.msg-app__convo__post__submit:not(.active) + div.lichessTools-quickActions-tooltip button.fbt {
  height: 3em !important;
}
