body.lichessTools .analyse .tview2 move.lichessTools-lastInLine:after {
    content:'\00a0\1D38';
}

body.lichessTools .analyse .tview2 move.lichessTools-lastInLine.lichessTools-uncommented {
    border-bottom: 1px solid red;
}

body.lichessTools .analyse .tview2 move.lichessTools-transposition {
    background: lawngreen;
}

body.lichessTools .analyse .tview2 move.lichessTools-lastInLine {
    filter: brightness(50%);
}

@media not print and (prefers-color-scheme: dark) {
  body.lichessTools.system .analyse .tview2 move.lichessTools-transposition {
      background: darkgreen;
  }

  body.lichessTools.system .analyse .tview2 move.lichessTools-lastInLine {
      filter: brightness(200%);
  }

}

body.lichessTools.dark .analyse .tview2 move.lichessTools-transposition,
body.lichessTools.transp .analyse .tview2 move.lichessTools-transposition {
    background: darkgreen;
}

body.lichessTools.dark .analyse .tview2 move.lichessTools-lastInLine,
body.lichessTools.transp .analyse .tview2 move.lichessTools-lastInLine {
    filter: brightness(200%);
}


/* Prettier Lichess CSS */

body.lichessTools.lichessTools-prettier .analyse .tview2 move.lichessTools-transposition {
    background: lawngreen !important;
}

@media not print and (prefers-color-scheme: dark) {
  body.lichessTools.lichessTools-prettier.system .analyse .tview2 move.lichessTools-transposition {
      background: darkgreen !important;
  }
}

body.lichessTools.lichessTools-prettier.dark .analyse .tview2 move.lichessTools-transposition,
body.lichessTools.lichessTools-prettier.transp .analyse .tview2 move.lichessTools-transposition {
    background: darkgreen !important;
}

body.lichessTools.lichessTools-prettier .analyse .tview2 move.lichessTools-lastInLine {
    filter: brightness(150%);
}
