body.lichessTools.mobile:has(.site-buttons div.lichessTools-onlineFriends) #user_tag {
  max-width: 13em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

body.lichessTools section.lichessTools-onlineFriends .data-count:after {
  top: 0.5em;
  background: #1b78d0;
}

html.dark body.lichessTools section.lichessTools-onlineFriends .data-count:after,
html.darkBoard body.lichessTools section.lichessTools-onlineFriends .data-count:after,
html.transp body.lichessTools section.lichessTools-onlineFriends .data-count:after {
  background: #3692e7;
}

@media not print and (prefers-color-scheme: dark) {
  html:not(.dark, .darkBoard, .light) body.lichessTools section.lichessTools-onlineFriends .data-count:after {
    background: #3692e7;
  }
}

body.lichessTools section.lichessTools-onlineFriends .user-link:before {
  font-size: 0.9em;
  padding: 0.6rem 0.7rem;
  padding-left: 0;
  color: #2e7cc4;
}

body.lichessTools #topnav.hover section.lichessTools-onlineFriends div[role="group"] {
  max-height: 70vh;
  overflow-y: auto;
}

body.lichessTools #topnav section.lichessTools-onlineFriends>a {
  white-space: nowrap;
}

body.lichessTools #topnav section.lichessTools-onlineFriends>a.lichessTools-somePlaying {
  color: #1b78d0;
}

html.dark body.lichessTools #topnav section.lichessTools-onlineFriends>a.lichessTools-somePlaying,
html.darkBoard body.lichessTools #topnav section.lichessTools-onlineFriends>a.lichessTools-somePlaying,
html.transp body.lichessTools #topnav section.lichessTools-onlineFriends>a.lichessTools-somePlaying {
  color: #3692e7;
}

@media not print and (prefers-color-scheme: dark) {
  html:not(.dark, .darkBoard, .light) body.lichessTools #topnav section.lichessTools-onlineFriends>a.lichessTools-somePlaying {
    color: #3692e7;
  }
}

body.lichessTools #topnav section.lichessTools-onlineFriends a i {
  margin-right: 0.5em;
}

body.lichessTools #topnav section.lichessTools-onlineFriends a i:before {
  content: '\E06B'; /* Disc */
}

body.lichessTools #topnav section.lichessTools-onlineFriends a:hover i:before {
  color: #9fff9f;
}

body.lichessTools #topnav section.lichessTools-onlineFriends a.lichessTools-playing i:before {
  content: '\E010' !important; /* AnalogTv */
}

body.lichessTools #topnav section.lichessTools-onlineFriends a.lichessTools-playing-ultrabullet i:before {
  content: '\E059' !important; /* UltraBullet */
}

body.lichessTools #topnav section.lichessTools-onlineFriends a.lichessTools-playing-bullet i:before {
  content: '\E032' !important; /* Bullet */
}

body.lichessTools #topnav section.lichessTools-onlineFriends a.lichessTools-playing-blitz i:before {
  content: '\E008' !important; /* FlameBlitz */
}

body.lichessTools #topnav section.lichessTools-onlineFriends a.lichessTools-playing-rapid i:before {
  content: '\E002' !important; /* Rabbit */
}

body.lichessTools #topnav section.lichessTools-onlineFriends a.lichessTools-playing-classical i:before {
  content: '\E00A' !important; /* Turtle */
}

body.lichessTools #topnav section.lichessTools-onlineFriends a.lichessTools-playing:hover i:hover {
  transform: scale(1.25);
}

body.lichessTools #topnav section.lichessTools-onlineFriends a.lichessTools-playing:hover i:before {
  color: #9fff9f;
}

html.dark body.lichessTools #topnav section.lichessTools-onlineFriends a.lichessTools-playing i:before,
html.darkBoard body.lichessTools #topnav section.lichessTools-onlineFriends a.lichessTools-playing i:before,
html.transp body.lichessTools #topnav section.lichessTools-onlineFriends a.lichessTools-playing i:before {
  color: #3692e7;
}

@media not print and (prefers-color-scheme: dark) {
  html:not(.dark, .darkBoard, .light) body.lichessTools #topnav section.lichessTools-onlineFriends a.lichessTools-playing:hover i:before {
    color: #9fff9f;
  }
}

html.dark body.lichessTools #topnav section.lichessTools-onlineFriends a.lichessTools-playing:hover i:before,
html.darkBoard body.lichessTools #topnav section.lichessTools-onlineFriends a.lichessTools-playing:hover i:before,
html.transp body.lichessTools #topnav section.lichessTools-onlineFriends a.lichessTools-playing:hover i:before {
  color: #9fff9f;
}

@media not print and (prefers-color-scheme: dark) {
  html:not(.dark, .darkBoard, .light) body.lichessTools #topnav section.lichessTools-onlineFriends a.lichessTools-playing i:before {
    color: #3692e7;
  }
}


body.lichessTools tr.lichessTools-online.lichessTools-playing a.lichessTools-tv {
  color: #1b78d0;
}

html.dark body.lichessTools tr.lichessTools-online.lichessTools-playing a.lichessTools-tv,
html.darkBoard body.lichessTools tr.lichessTools-online.lichessTools-playing a.lichessTools-tv,
html.transp body.lichessTools tr.lichessTools-online.lichessTools-playing a.lichessTools-tv {
  color: #3692e7;
}

@media not print and (prefers-color-scheme: dark) {
  html:not(.dark, .darkBoard, .light) body.lichessTools tr.lichessTools-online.lichessTools-playing a.lichessTools-tv {
    color: #3692e7;
  }
}

body.lichessTools tr.lichessTools-muted a.lichessTools-mute {
  display: inline-block;
  transform: rotate(45deg);
  opacity: 0.3;
}

body.lichessTools tr.lichessTools-online {
  border: solid 1px #808080;
  border-radius: 2.5em;
}

body.lichessTools div.lichessTools-livePageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body.lichessTools div.lichessTools-liveButtons {
  padding-right: var(---box-padding);
  height: 3em;
  margin-left: auto;
}

body.lichessTools a.lichessTools-followers {
  padding-left: var(---box-padding);
}

body.lichessTools div.lichessTools-liveButtons i {
  padding: 1em;
  cursor: pointer;
}

body.lichessTools div.lichessTools-liveButtons i {
  display: inline-flex;
}

body.lichessTools main.lichessTools-hideOffline div.lichessTools-liveButtons i[data-role="hideOffline"]:before {
  opacity: 0.2;
}

body.lichessTools main.lichessTools-hideOffline tr:not(.lichessTools-online, .pager) {
  display: none;
}

body.lichessTools main.lichessTools-hideNotPlaying div.lichessTools-liveButtons i[data-role="hideNotPlaying"]:before {
  opacity: 0.2;
}

body.lichessTools main.lichessTools-hideNotPlaying tr:not(.lichessTools-playing, .pager) {
  display: none;
}

body.lichessTools main.lichessTools-hideMuted div.lichessTools-liveButtons i[data-role="hideMuted"]:before {
  opacity: 0.2;
}

body.lichessTools main.lichessTools-hideMuted tr.lichessTools-muted {
  display: none;
}

body.lichessTools main:not(.lichessTools-alerts) table.slist div.relation-actions a.lichessTools-mute {
  display: none;
}

body.lichessTools div.lichessTools-liveButtons i[data-role="hideMuted"]:before {
  transform: rotate(45deg);
}

body.lichessTools main:not(.lichessTools-alerts) div.lichessTools-liveButtons i[data-role="hideMuted"] {
  display: none;
}

body.lichessTools main.lichessTools-hideInactive div.lichessTools-liveButtons i[data-role="hideInactive"]:before {
  opacity: 0.2;
}

body.lichessTools main.lichessTools-hideInactive tr.lichessTools-inactive {
  display: none;
}


body.lichessTools .lichessTools-onlineFriends div.links.dropdown {
  overflow: hidden;
  width: 15em;
  max-width: 100vw;
  right: 0;
}

html.dark body.lichessTools .lichessTools-onlineFriends div.links.dropdown,
html.darkBoard body.lichessTools .lichessTools-onlineFriends div.links.dropdown,
html.transp body.lichessTools .lichessTools-onlineFriends div.links.dropdown {
  border-radius: 3px 0 0 3px;
}

@media not print and (prefers-color-scheme: dark) {
  html:not(.dark, .darkBoard, .light) body.lichessTools .lichessTools-onlineFriends div.links.dropdown {
    border-radius: 3px 0 0 3px;
  }
}

body.lichessTools .lichessTools-onlineFriends div.links.dropdown .pager.prev {
  border-bottom: 1px solid #404040;
}

@media not print and (prefers-color-scheme: dark) {
  body.lichessTools .lichessTools-onlineFriends div.links.dropdown .pager {
    display: block;
    padding: 0.5rem;
    text-align: center;
  }
}

body.lichessTools .lichessTools-onlineFriends div.links.dropdown .pager {
  cursor: pointer;
  color: #3692e7;
  transition: all 150ms;
}

body.lichessTools .lichessTools-onlineFriends div.links.dropdown .pager.prev.disabled:before {
  visibility: hidden;
}

body.lichessTools .lichessTools-onlineFriends div.links.dropdown .pager.next.disabled {
  display: none;
}

body.lichessTools .lichessTools-onlineFriends div.links.dropdown div.notifications>a {
  display: flex;
  padding: 0.6rem 0.6rem 0.6rem 1rem;
  border-bottom: 1px solid #404040;
  position: relative;
}

body.lichessTools .lichessTools-onlineFriends div.links.dropdown div.notifications>a i:before {
  content: '\E06B'; /* Disc */
  font-family: 'lichess';
}

body.lichessTools .lichessTools-onlineFriends div.links.dropdown div.notifications>a:hover i:before {
  color: #6fbf6f;
}

body.lichessTools .lichessTools-onlineFriends div.links.dropdown div.notifications>a.lichessTools-playing i:before {
  content: '\E010' !important; /* AnalogTv */
}

body.lichessTools .lichessTools-onlineFriends div.links.dropdown div.notifications>a.lichessTools-playing-ultrabullet i:before {
  content: '\E059' !important; /* UltraBullet */
}

body.lichessTools .lichessTools-onlineFriends div.links.dropdown div.notifications>a.lichessTools-playing-bullet i:before {
  content: '\E032' !important; /* Bullet */
}

body.lichessTools .lichessTools-onlineFriends div.links.dropdown div.notifications>a.lichessTools-playing-blitz i:before {
  content: '\E008' !important; /* FlameBlitz */
}

body.lichessTools .lichessTools-onlineFriends div.links.dropdown div.notifications>a.lichessTools-playing-rapid i:before {
  content: '\E002' !important; /* Rabbit */
}

body.lichessTools .lichessTools-onlineFriends div.links.dropdown div.notifications>a.lichessTools-playing-classical i:before {
  content: '\E00A' !important; /* Turtle */
}

body.lichessTools .lichessTools-onlineFriends div.links.dropdown div.notifications>a:hover {
  background: #f7f6f5;
}

html.dark body.lichessTools .lichessTools-onlineFriends div.links.dropdown div.notifications>a:hover,
html.darkBoard body.lichessTools .lichessTools-onlineFriends div.links.dropdown div.notifications>a:hover,
html.transp body.lichessTools .lichessTools-onlineFriends div.links.dropdown div.notifications>a:hover {
  background: #302e2c;
}

@media not print and (prefers-color-scheme: dark) {
  html:not(.dark, .darkBoard, .light) body.lichessTools .lichessTools-onlineFriends div.links.dropdown div.notifications>a:hover {
    background: #302e2c;
  }
}


body.lichessTools .lichessTools-onlineFriends div.links.dropdown div.notifications>a i {
  margin-right: 1rem;
}

body.lichessTools .lichessTools-onlineFriends div.links.dropdown div.notifications>a.lichessTools-playing i {
  color: #5faf5f;
}

html.dark body.lichessTools .lichessTools-onlineFriends div.links.dropdown div.notifications>a.lichessTools-playing i,
html.darkBoard body.lichessTools .lichessTools-onlineFriends div.links.dropdown div.notifications>a.lichessTools-playing i,
html.transp body.lichessTools .lichessTools-onlineFriends div.links.dropdown div.notifications>a.lichessTools-playing i {
  color: #9fff9f;
}

@media not print and (prefers-color-scheme: dark) {
  html:not(.dark, .darkBoard, .light) body.lichessTools .lichessTools-onlineFriends div.links.dropdown div.notifications>a.lichessTools-playing i {
    color: #9fff9f;
  }
}

body.lichessTools .lichessTools-onlineFriends div.links.dropdown div.notifications>a span.content {}

body.lichessTools .lichessTools-onlineFriends div.links.dropdown .hideNotPlaying {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  box-shadow: none;
}

body.lichessTools .site-buttons div.lichessTools-onlineFriends.lichessTools-somePlaying>button.toggle {
  color: #1b78d0;
}

html.dark body.lichessTools .site-buttons div.lichessTools-onlineFriends.lichessTools-somePlaying>button.toggle,
html.darkBoard body.lichessTools .site-buttons div.lichessTools-onlineFriends.lichessTools-somePlaying>button.toggle,
html.transp body.lichessTools .site-buttons div.lichessTools-onlineFriends.lichessTools-somePlaying>button.toggle {
  color: #3692e7;
}

@media not print and (prefers-color-scheme: dark) {
  html:not(.dark, .darkBoard, .light) body.lichessTools .site-buttons div.lichessTools-onlineFriends.lichessTools-somePlaying>button.toggle {
    color: #3692e7;
  }
}

body.lichessTools div.site-buttons .lichessTools-onlineFriends {
  display: none;
}

body.lichessTools div.site-buttons .lichessTools-onlineFriends.lichessTools-on {
  display: block;
}

@media (max-width: 979.29px) {
  body.lichessTools div.site-buttons .lichessTools-onlineFriends {
    display: block;
  }

  body.lichessTools #topnav .lichessTools-onlineFriends {
    display: none;
  }
}

body.lichessTools div.site-buttons .lichessTools-onlineFriends .dropdown {
  box-shadow: 4px 4px gray;
}


body.lichessTools main.lichessTools-friendsPage table.slist tr {
  background: none !important;
  height: 5rem;
}

body.lichessTools main.lichessTools-friendsPage table.slist tbody {
  background-image: repeating-linear-gradient(#f7f6f5 0 5rem, transparent 5rem 10rem);
}

html.transp body.lichessTools main.lichessTools-friendsPage table.slist tbody {
  background-image: repeating-linear-gradient(#181614 0 5rem, transparent 5rem 10rem);
}

html.dark body.lichessTools main.lichessTools-friendsPage table.slist tbody,
html.darkBoard body.lichessTools main.lichessTools-friendsPage table.slist tbody {
  background-image: repeating-linear-gradient(#302e2c 0 5rem, transparent 5rem 10rem);
}

@media not print and (prefers-color-scheme: dark) {
  html:not(.dark, .darkBoard, .light) body.lichessTools main.lichessTools-friendsPage table.slist tbody {
    background-image: repeating-linear-gradient(#302e2c 0 5rem, transparent 5rem 10rem);
  }
}

body.lichessTools .lichessTools-friendsPage td:has(span.lichessTools-seenAt) {
  min-width: 10em;
}

body.lichessTools .lichessTools-friendsPage span.lichessTools-seenAt:before {
  margin-right: 3px;
}

body.lichessTools .slist-pad td:last-child:has(.relation-actions) {
  width: 5%;
}

body.lichessTools table.slist .relation-actions {
  text-wrap: nowrap;
  border: none;
}

body.lichessTools table.slist .relation-actions a[data-icon]:before {
  font-size: 1.25rem;
}

/* Unrated CSS */
body.lichessTools.dynamicContentShown section.lichessTools-onlineFriends .user-link {
  visibility: inherit;
}

/* Prettier Lichess CSS */

body.lichessTools.lichessTools-prettier #topnav.hover section.lichessTools-onlineFriends div[role="group"] {
  overflow-y: auto !important;
  opacity: 1 !important;
  margin-top: 0 !important;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
}

body.lichessTools.lichessTools-prettier #topnav section.lichessTools-onlineFriends>a.lichessTools-somePlaying {
  color: #1b78d0 !important;
}

html.dark body.lichessTools.lichessTools-prettier #topnav section.lichessTools-onlineFriends>a.lichessTools-somePlaying,
html.darkBoard body.lichessTools.lichessTools-prettier #topnav section.lichessTools-onlineFriends>a.lichessTools-somePlaying,
html.transp body.lichessTools.lichessTools-prettier #topnav section.lichessTools-onlineFriends>a.lichessTools-somePlaying {
  color: #3692e7 !important;
}

@media not print and (prefers-color-scheme: dark) {
  html:not(.dark, .darkBoard, .light) body.lichessTools.lichessTools-prettier #topnav section.lichessTools-onlineFriends>a.lichessTools-somePlaying {
    color: #3692e7 !important;
  }
}

body.lichessTools.lichessTools-prettier #topnav section.lichessTools-onlineFriends a:hover {
  padding-left: 0.7rem !important;
}

body.lichessTools.lichessTools-prettier tr.lichessTools-online.lichessTools-playing a.lichessTools-tv {
  color: #1b78d0 !important;
}

html.dark body.lichessTools.lichessTools-prettier tr.lichessTools-online.lichessTools-playing a.lichessTools-tv,
html.darkBoard body.lichessTools.lichessTools-prettier tr.lichessTools-online.lichessTools-playing a.lichessTools-tv,
html.transp body.lichessTools.lichessTools-prettier tr.lichessTools-online.lichessTools-playing a.lichessTools-tv {
  color: #3692e7 !important;
}

@media not print and (prefers-color-scheme: dark) {
  html:not(.dark, .darkBoard, .light) body.lichessTools.lichessTools-prettier tr.lichessTools-online.lichessTools-playing a.lichessTools-tv {
    color: #3692e7 !important;
  }
}

body.lichessTools.lichessTools-prettier .site-buttons div.lichessTools-onlineFriends.lichessTools-somePlaying>button.toggle {
  color: #1b78d0 !important;
}

html.dark body.lichessTools.lichessTools-prettier .site-buttons div.lichessTools-onlineFriends.lichessTools-somePlaying>button.toggle,
html.darkBoard body.lichessTools.lichessTools-prettier .site-buttons div.lichessTools-onlineFriends.lichessTools-somePlaying>button.toggle,
html.transp body.lichessTools.lichessTools-prettier .site-buttons div.lichessTools-onlineFriends.lichessTools-somePlaying>button.toggle {
  color: #3692e7 !important;
}

@media not print and (prefers-color-scheme: dark) {
  html:not(.dark, .darkBoard, .light) body.lichessTools.lichessTools-prettier .site-buttons div.lichessTools-onlineFriends.lichessTools-somePlaying>button.toggle {
    color: #3692e7 !important;
  }
}

body.lichessTools.lichessTools-prettier main.lichessTools-friendsPage table.slist tbody {
  background-image: repeating-linear-gradient(var(--backgroundColor) 0 5rem, transparent 5rem 10rem);
}