body.lichessTools a.lichessTools-puzzleTotal {
  flex-basis: auto;
  margin-left: 1em;
  position: relative;
  padding: 0 0.5em;
}

body.lichessTools a.lichessTools-puzzleTotal:before {
  content: var(--icon-RightwardsArrow);
  position: absolute;
  left: -1.25em;
}