body.lichessTools.lichessTools-audioNotAllowed {
}

body.lichessTools div.lichessTools-audioNotAllowedIcon {
  color:orange;
  display:none;
}

body.lichessTools.lichessTools-audioNotAllowed div.lichessTools-audioNotAllowedIcon {
  display:initial;
}