body.lichessTools dialog.lichessTools-pgnEditor {
  margin-top:0;
  width:100%;
  height:100%;
  display:block;
}

body.lichessTools dialog.lichessTools-pgnEditor button.close-button {
  transform:none;
}

body.lichessTools dialog.lichessTools-pgnEditor div.input-wrapper {
  display:flex;
}

body.lichessTools dialog.lichessTools-pgnEditor div.input-wrapper textarea {
  height:80vh;
  flex-grow:1;
  resizable:none;
}

body.lichessTools dialog.lichessTools-pgnEditor div.input-wrapper div.buttons {
  display:flex;
  flex-direction:column;
}

body.lichessTools dialog.lichessTools-pgnEditor div.input-wrapper div.buttons button {
  position:relative;
  text-align: left;
}

body.lichessTools dialog.lichessTools-pgnEditor div.input-wrapper div.buttons button span {
  display:block;
  text-align: center;
}

body.lichessTools dialog.lichessTools-pgnEditor div.input-wrapper div.buttons button:before {
  position:absolute;
}

body.lichessTools dialog.lichessTools-pgnEditor div.input-wrapper div.buttons label {
  width:20vh;
}

body.lichessTools:has(dialog.lichessTools-pgnEditor) div#announce {
  z-index:111;
}

body.lichessTools dialog.lichessTools-pgnEditor a.help-button {
  position: absolute;
  top: 4px;
  right: 2em;
  width: 40px;
  height: 40px;
  z-index: 111;
  color: #ccc;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

body.lichessTools dialog.lichessTools-pgnEditor a.help-button:hover {
  color: #1b78d0;
}

@media screen and (max-width: 820px) {
  body.lichessTools dialog.lichessTools-pgnEditor div.input-wrapper div.buttons {
    width:3.5em;
  }

  body.lichessTools dialog.lichessTools-pgnEditor div.input-wrapper div.buttons button {
    min-height:2.75em;
  }

  body.lichessTools dialog.lichessTools-pgnEditor div.input-wrapper div.buttons button:before {
    top:0.66em;
  }

  body.lichessTools dialog.lichessTools-pgnEditor div.input-wrapper div.buttons button span{
    display:none;
  }

  body.lichessTools dialog.lichessTools-pgnEditor div.input-wrapper div.buttons label {
    position: fixed;
    top: 86vh;
    left: 0;
    width: 100%;
  }
}