body.lichessTools textarea.lichessTools-imagePasting+.ddloader {
  float: right;
  height: 1em;
}

body.lichessTools textarea.lichessTools-imagePasting {
  cursor: wait;
}

body.lichessTools t.lichessTools-bigEmoji {
  font-size: 2.5em;
}

body.lichessTools img.lichessTools-imagePasting-image {
  max-width:95vw;
  max-height:95vh;
}

body.lichessTools.lichess-inboxChat .msg-app__convo__msgs their,
body.lichessTools.lichess-inboxChat .msg-app__convo__msgs mine {
  white-space-collapse: break-spaces;
}
