body.lichessTools div.lichessTools-chapterPgnArea textarea {
  width: 100%;
  min-height: 6em;
  white-space: pre-wrap;
  overflow-x: hidden;
}

body.lichessTools div.lichessTools-chapterPgnArea button.copy-me__button {
  align-self: normal;
}