body.lichessTools *[data-icon].lichessTools-icon-rotate:before {
  transform: rotate(-60deg);
}

body.lichessTools.lichessTools-evaluationStarted #analyse-cm a[data-role="evaluateTerminations"]:before {
  content:'\E03F';
  color:red;
}

body.lichessTools .lichessTools-liveStatus {
  position: relative;
  display:none;
  top: 3em;
  margin-left: 1em;
}

body.lichessTools.lichessTools-evaluationStarted .lichessTools-liveStatus {
  display:inherit;
}

body.lichessTools .analyse .tview2 move.lichessTools-transpositionAll {
    background: lawngreen;
}

@media not print and (prefers-color-scheme: dark) {
  body.lichessTools.system .analyse .tview2 move.lichessTools-transpositionAll {
      background: darkgreen;
  }
}

body.lichessTools.dark .analyse .tview2 move.lichessTools-transpositionAll {
    background: darkgreen;
}

/* Prettier Lichess CSS */

body.lichessTools.lichessTools-prettier .analyse .tview2 move.lichessTools-transpositionAll {
    background: lawngreen !important;
}

@media not print and (prefers-color-scheme: dark) {
  body.lichessTools.lichessTools-prettier.system .analyse .tview2 move.lichessTools-transpositionAll {
      background: darkgreen !important;
  }
}

body.lichessTools.lichessTools-prettier.dark .analyse .tview2 move.lichessTools-transpositionAll {
    background: darkgreen !important;
}
