body.lichessTools *[data-icon].lichessTools-icon-rotate:before {
  transform: rotate(-60deg);
}

body.lichessTools.lichessTools-evaluationStarted #analyse-cm a[data-role="evaluateTerminations"]:before {
  content:'\E03F';
  color:red;
}

body.lichessTools .lichessTools-liveStatus {
  display:none;
  margin-left: 1em;
  margin-top: 0.5em;
  grid-row-start:none;
}

body.lichessTools.lichessTools-evaluationStarted .lichessTools-liveStatus {
  display:inherit;
}

body.lichessTools.lichessTools-evaluationStarted .analyse__round-training {
  margin-top:1.5em;
}

body.lichessTools .analyse .tview2 move.lichessTools-transpositionAll {
    background: lawngreen;
}

@media not print and (prefers-color-scheme: dark) {
  body.lichessTools.system .analyse .tview2 move.lichessTools-transpositionAll {
      background: darkgreen;
  }
}

body.lichessTools.transp .analyse .tview2 move.lichessTools-transpositionAll,
body.lichessTools.dark .analyse .tview2 move.lichessTools-transpositionAll {
    background: darkgreen;
}

body.lichessTools div.tview2.lichessTools-showOnEmpty:not(:has(move)) {
  min-height:2em;
}

body.lichessTools div.tview2.lichessTools-showOnEmpty:not(:has(move)):hover {
  background:#80808040;
}

/* Prettier Lichess CSS */

body.lichessTools.lichessTools-prettier .analyse .tview2 move.lichessTools-transpositionAll {
    background: lawngreen !important;
}

@media not print and (prefers-color-scheme: dark) {
  body.lichessTools.lichessTools-prettier.system .analyse .tview2 move.lichessTools-transpositionAll {
      background: darkgreen !important;
  }
}

body.lichessTools.lichessTools-prettier.dark .analyse .tview2 move.lichessTools-transpositionAll,
body.lichessTools.lichessTools-prettier.transp .analyse .tview2 move.lichessTools-transpositionAll {
    background: darkgreen !important;
}
