body.lichessTools div.lichessTools-gameListOptions {
  display:flex;
}

body.lichessTools div.lichessTools-gameListOptions .lichessTools-gameListOptions-copy {
  margin-left: auto;
  border: none;
  background: none;
}

body.lichessTools div.lichessTools-gameListOptions .lichessTools-gameListOptions-copy:hover {
  background:#80808040;
}

body.lichessTools div.lichessTools-gameListOptions .lichessTools-gameListOptions-copy:active {
  background:#80808080;
}

body.lichessTools .lichessTools-gameListOptions-hideAborted article:has(.mini-board[data-state^="rnbqkbnr/pppppppp"],.mini-board[data-state*="PPPPPPPP/RNBQKBNR"]) {
  display:none;
}

body.lichessTools #chkAborted {
  vertical-align: bottom;
  margin-left: 1em;
}

body.lichessTools label[for="chkAborted"] {
  margin-left: 1em;
}

body.lichessTools .search__result:has(.search__rows) #chkAborted,
body.lichessTools .search__result:has(.search__rows) label[for="chkAborted"] {
  display:none;
}

body.lichessTools article.lichessTools-gameListOptions-select input[type="checkbox"] {
  margin-right: 1em;
}

body.lichessTools article.lichessTools-gameListOptions-select .game-row__overlay {
  left: 3em;
}