body.lichessTools:has(dialog.lichessTools-dialog.dragged),
body.lichessTools:has(dialog.lichessTools-dialog.resizing) {
  user-select: none;
}

body.lichessTools dialog.lichessTools-dialog {
  margin-top: 0;
  transition: none;
  transition-property: none;
  animation: none;
}

body.lichessTools dialog.lichessTools-dialog:backdrop {
  transition: none;
  transition-property: none;
  animation: none;
}

body.lichessTools dialog.lichessTools-dialog .dialog-header {
  width: auto;
  min-height: 2em;
  background: #80808080;
  touch-action: none;
  display:flex;
  justify-content: center;
  align-items: center;
}

body.lichessTools dialog.lichessTools-dialog .dialog-header.draggable {
  cursor: move;
}

body.lichessTools dialog.lichessTools-dialog.resizing {
  cursor: nw-resize;
}

body.lichessTools dialog.lichessTools-dialog.dragged {
  cursor: move;
}

body.lichessTools dialog.lichessTools-dialog .dialog-resize {
  position: absolute;
  height: 16px;
  width: 16px;
  background: #80808040;
  right: 0;
  bottom: 0;
  cursor: nw-resize;
  touch-action: none;
}

body.lichessTools dialog.lichessTools-dialog .dialog-resize:hover {
  background: #80808080;
}

body.lichessTools dialog.lichessTools-dialog .dialog-content {
  padding: 0;
  min-width: 20px;
  min-height: 20px;
  max-width: 90vw;
  max-height: 90vh;
}

body.lichessTools dialog.lichessTools-dialog.dragged .dialog-content,
body.lichessTools dialog.lichessTools-dialog.resizing .dialog-content {
  pointer-events: none;
  opacity: 0.25;
}

body.lichessTools dialog.lichessTools-dialog option:checked {
  background-color: var(--c-bg-zebra2);
}