body.lichessTools .pv-san.lichessTools-cevalHighlight-1 {
  background: #ff8080;
  color: black;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-2 {
  background: #00ff00;
  color: black;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-3 {
  background: #8080ff;
  color: black;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-4 {
  background: #ffff80;
  color: black;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-5 {
  background: #00ffff;
  color: black;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-6 {
  background: #ff80ff;
  color: black;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-7 {
  border: 1px solid #ff0000;
  background: white;
  color: black;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-8 {
  border: 1px solid #00ff00;
  background: white;
  color: black;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-9 {
  border: 1px solid #0000ff;
  background: white;
  color: black;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-10 {
  border: 1px solid #ffff00;
  background: white;
  color: black;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-11 {
  border: 1px solid #00ffff;
  background: white;
  color: black;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-12 {
  border: 1px solid #ff00ff;
  background: white;
  color: black;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-13 {
  border: 1px solid #ff0000;
  background: white;
  color: black;
  border-radius: 33%;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-14 {
  border: 1px solid #00ff00;
  background: white;
  color: black;
  border-radius: 33%;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-15 {
  border: 1px solid #0000ff;
  background: white;
  color: black;
  border-radius: 33%;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-16 {
  border: 1px solid #ffff00;
  background: white;
  color: black;
  border-radius: 33%;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-17 {
  border: 1px solid #00ffff;
  background: white;
  color: black;
  border-radius: 33%;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-18 {
  border: 1px solid #ff00ff;
  background: white;
  color: black;
  border-radius: 33%;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-19 {
  border: 1px solid #ff0000;
  background: black;
  color: white;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-20 {
  border: 1px solid #00ff00;
  background: black;
  color: white;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-21 {
  border: 1px solid #0000ff;
  background: black;
  color: white;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-22 {
  border: 1px solid #ffff00;
  background: black;
  color: white;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-23 {
  border: 1px solid #00ffff;
  background: black;
  color: white;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-24 {
  border: 1px solid #ff00ff;
  background: black;
  color: white;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-25 {
  border: 1px solid #ff0000;
  background: black;
  color: white;
  border-radius: 33%;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-26 {
  border: 1px solid #00ff00;
  background: black;
  color: white;
  border-radius: 33%;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-27 {
  border: 1px solid #0000ff;
  background: black;
  color: white;
  border-radius: 33%;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-28 {
  border: 1px solid #ffff00;
  background: black;
  color: white;
  border-radius: 33%;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-29 {
  border: 1px solid #00ffff;
  background: black;
  color: white;
  border-radius: 33%;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-30 {
  border: 1px solid #ff00ff;
  background: black;
  color: white;
  border-radius: 33%;
}

body.lichessTools switch.lichessTools-cevalMoreLines {
  cursor: pointer;
}

body.lichessTools switch.lichessTools-cevalMoreLines:hover {
  scale: 1.2;
}

body.lichessTools div.analyse__tools.lichessTools-externalEngine switch.lichessTools-cevalMoreLines {
  display:none;
}


body.lichessTools .pv strong.best {
  color: var(--c-brilliant);
}

body.lichessTools .pv strong.good {
  color: var(--c-good-move);
}

body.lichessTools .pv strong.mistake {
  color: var(--c-mistake);
}

body.lichessTools .pv strong.blunder {
  color: var(--c-blunder);
}

body.lichessTools pearl:has(.lichessTools-cevalLineOptions) {
  position: relative;
}

body.lichessTools pearl .lichessTools-cevalLineOptions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: difference;
}

body.lichessTools pearl[data-depth]:after {
  content: attr(data-depth);
  color: var(--data-color);
  position: absolute;
  top: -1em;
  left: 0em;
  font-size: small;
  width: 1em;
  height: 1em;
}

body.lichessTools .engine:has(.lichessTools-downloadCeval) {
  position: relative;
}

body.lichessTools .lichessTools-downloadCeval {
  display: none;
  background: none;
  border: none;
  outline: none;
  font-family: lichess;
  position: absolute;
  top: 0;
  right: 1em;
  z-index: auto;
}

body.lichessTools .lichessTools-downloadCeval.hasAnalysis {
  display: initial;
}

body.lichessTools .analyse__tools div.ceval:has(> .lichessTools-drawPvs),
body.lichessTools .analyse__controls:has(> .lichessTools-drawPvs) {
  position: relative;
}

body.lichessTools .lichessTools-drawPvs {
  position: relative;
  overflow: visible;
  width: 100%;
  position: absolute;
  bottom: 0;
}

body.lichessTools .lichessTools-drawPvs div {
  position: absolute;
  z-index:1;
  left: calc(var(--x) - 0.5em);
  bottom: -0.25em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background: #80808080;
}

body.lichessTools .lichessTools-drawPvs div.bad {
  background: var(--c-bad);
}

body.lichessTools .lichessTools-drawPvs div.warn {
  background: var(--c-warn);
}

body.lichessTools .lichessTools-drawPvs div.good {
  background: var(--c-good);
}
