body.lichessTools .pv-san.lichessTools-cevalHighlight-1 {
  background:#ff8080;
  color:black;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-2 {
  background:#00ff00;
  color:black;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-3 {
  background:#8080ff;
  color:black;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-4 {
  background:#ffff80;
  color:black;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-5 {
  background:#00ffff;
  color:black;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-6 {
  background:#ff80ff;
  color:black;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-7 {
  border:1px solid #ff0000;
  background: white;
  color:black;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-8 {
  border:1px solid #00ff00;
  background: white;
  color:black;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-9 {
  border:1px solid #0000ff;
  background: white;
  color:black;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-10 {
  border:1px solid #ffff00;
  background: white;
  color:black;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-11 {
  border:1px solid #00ffff;
  background: white;
  color:black;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-12 {
  border:1px solid #ff00ff;
  background: white;
  color:black;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-13 {
  border:1px solid #ff0000;
  background: white;
  color:black;
  border-radius:33%;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-14 {
  border:1px solid #00ff00;
  background: white;
  color:black;
  border-radius:33%;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-15 {
  border:1px solid #0000ff;
  background: white;
  color:black;
  border-radius:33%;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-16 {
  border:1px solid #ffff00;
  background: white;
  color:black;
  border-radius:33%;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-17 {
  border:1px solid #00ffff;
  background: white;
  color:black;
  border-radius:33%;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-18 {
  border:1px solid #ff00ff;
  background: white;
  color:black;
  border-radius:33%;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-19 {
  border:1px solid #ff0000;
  background: black;
  color:white;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-20 {
  border:1px solid #00ff00;
  background: black;
  color:white;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-21 {
  border:1px solid #0000ff;
  background: black;
  color:white;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-22 {
  border:1px solid #ffff00;
  background: black;
  color:white;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-23 {
  border:1px solid #00ffff;
  background: black;
  color:white;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-24 {
  border:1px solid #ff00ff;
  background: black;
  color:white;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-25 {
  border:1px solid #ff0000;
  background: black;
  color:white;
  border-radius:33%;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-26 {
  border:1px solid #00ff00;
  background: black;
  color:white;
  border-radius:33%;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-27 {
  border:1px solid #0000ff;
  background: black;
  color:white;
  border-radius:33%;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-28 {
  border:1px solid #ffff00;
  background: black;
  color:white;
  border-radius:33%;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-29 {
  border:1px solid #00ffff;
  background: black;
  color:white;
  border-radius:33%;
}

body.lichessTools .pv-san.lichessTools-cevalHighlight-30 {
  border:1px solid #ff00ff;
  background: black;
  color:white;
  border-radius:33%;
}
