body.lichessTools .tv-history.lichessTools-userHistory h2 {
  font-size: 1.3em;
  text-transform: uppercase;
  margin: 2vmin 0;
  flex: 0 0 100%;
  text-align: center;
  color: #999;
  font-family: "Roboto",Sans-Serif;
}

body.lichessTools .tv-history.lichessTools-userHistory .now-playing {
  grid-template-columns: 50% 50%;
}