body.lichessTools .tview2.lichessTools-indentedVariations inline
{
  padding-left: 7px;
  display: block;
}

body.lichessTools .tview2.lichessTools-indentedVariations move+inline {
  padding-left: 2em;
  display: block;
}

body.lichessTools .tview2.lichessTools-indentedVariations lines inline::before,
body.lichessTools .tview2.lichessTools-indentedVariations lines move+inline::before {
  margin-top: .45em;
  margin-left: -8px;
  content: " ";
  border-left: 2px solid #404040;
  border-bottom: 2px solid #404040;
  position: absolute;
  width: 8px;
  height: 6px;
}

/* a bit of a hack to avoid conflict with highlight tool */
body.lichessTools .tview2.lichessTools-indentedVariations lines move.lichessTools-lastInLine+inline::before {
  filter: brightness(0.5);
}

body.lichessTools .tview2.lichessTools-indentedVariations lines move:has(+inline)::before {
  margin-left: -2em;
}

body.lichessTools .tview2.lichessTools-indentedVariations inline::before,
body.lichessTools .tview2.lichessTools-indentedVariations inline::after {
  content: none;
}

body.lichessTools .tview2 move.lichessTools-bookmark {
  margin-top:1em;
  position:relative;
  overflow:visible;
  vertical-align:super;
}

body.lichessTools .tview2 move.lichessTools-bookmark:has(+comment+comment) {
  display:block;
}

body.lichessTools .tview2 move.lichessTools-bookmark bookmark {
  position:absolute;
  top:-1.5em;
  left:-0.5em;
}

body.lichessTools .tview2 move.lichessTools-bookmark bookmark label {
  font-size:smaller;
  color: orange;
  display: inline-block;
  max-width: 20em;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align:middle;
}


body.lichessTools .tview2 move.lichessTools-bookmark button {
  visibility:hidden;
}

body.lichessTools .tview2 move.lichessTools-bookmark button:before {
  visibility:visible;
  content:'-';
  width: 1em;
  height: 1em;
  display:inline-flex;
  border: 1px solid gray;
  border-radius:5px;
  justify-content: center;
  align-content:center;
  flex-wrap:wrap;
  background:none;
  margin-right:3px;
  vertical-align:middle;
}

body.lichessTools .tview2 move.lichessTools-bookmark.lichessTools-collapsed button:before {
  content:'+';
}

body.lichessTools .tview2 move.lichessTools-bookmark button.lichessTools-noChildren:before {
  display:none;
}

body.lichessTools .tview2 .lichessTools-childCollapsed {
  display:none !important;
}

body.lichessTools .tview2 comment.lichessTools-empty {
  display:none !important;
}

body.lichessTools #analyse-cm a[data-role="bookmark"]:before {
  transform: scaleX(-1);
}

body.lichessTools .tview2 move.lichessTools-bookmark+comment {
  vertical-align: baseline;
}

body.lichessTools .tview2 lines line:has(>move:nth-child(1)>bookmark):before {
  content:none;
}

body.lichessTools .tview2 comment span.by {
  vertical-align:middle;
}

@media (min-width: 1259.3px) {
  body.lichessTools.lichessTools-fullWidthAnalysis #main-wrap:has(main.analyse):has(div.analyse__tools):not(:has(main.analyse.has-relay-tour)) {
    grid-template-columns: var(--main-margin) 0fr minmax(auto, var(--main-max-width)) 0fr var(--main-margin);
    min-height:calc(100vh - var(--site-header-height) - var(--site-header-margin) - 3rem);
  }

  body.lichessTools.lichessTools-fullWidthAnalysis main.analyse:not(.has-relay-tour) {
    --tools-width:1fr;
    --left-side-width:350px;
    grid-template-columns: minmax(calc(var(--left-side-width) - 100px), var(--left-side-width)) 2vmin var(--col3-uniboard-width) var(--gauge-gap) minmax(240px,var(--tools-width));
    grid-template-rows: var(--meta-height) var(--chat-height) 1fr 2.5em auto;
    grid-template-areas: "side    . board gauge tools" 
                         "chat    . board gauge tools" 
                         "uchat   . under .     tools" 
                         "uchat   . under .     controls" 
                         "uchat   . under .     round-training";
  }

  body.lichessTools.lichessTools-hideLeftSide:not(.lichessTools-fullWidthAnalysis) #main-wrap:has(main.analyse):not(:has(main.analyse.has-relay-tour)) {
    grid-template-columns: var(--main-margin) 0fr minmax(auto, var(--main-max-width)) 1fr var(--main-margin);
  }

  body.lichessTools.lichessTools-hideLeftSide main.analyse:not(.has-relay-tour) {
    --left-side-width:1em;
  }

  body.lichessTools.lichessTools-hideLeftSide:not(.lichessTools-fullWidthAnalysis) main.analyse:not(.has-relay-tour) {
    grid-template-columns: 1em 0 var(--col3-uniboard-width) var(--gauge-gap) minmax(240px, 400px);
  }

  body.lichessTools.lichessTools-hideLeftSide main.analyse:not(.has-relay-tour) aside.analyse__side,
  body.lichessTools.lichessTools-hideLeftSide main.analyse:not(.has-relay-tour) div.practice__side,
  body.lichessTools.lichessTools-hideLeftSide main.analyse:not(.has-relay-tour) section.mchat,
  body.lichessTools.lichessTools-hideLeftSide main.analyse:not(.has-relay-tour) div.chat__members {
    display:none;
  }
}

body.lichessTools a.lichessTools-analysisPopup {
  flex: 0 99 auto;
  line-height: 38px;
  color: #b0b0b0;
  font-size: .9em;
  padding-right: 0.5em;
  overflow: hidden;
}

body.lichessTools.lichessTools-analysisPopup {
  overflow-y:hidden;
}

body.lichessTools.lichessTools-analysisPopup a.lichessTools-analysisPopup {
  display: none;
}

body.lichessTools.lichessTools-analysisPopup button[data-act="practice"] {
  display: none;
}

body.lichessTools.lichessTools-analysisPopup main.analyse:not(.has-relay-tour) div.analyse__tools {
  position:fixed;
  top:0;
  left:0;
  height:calc(100vh - 3rem);
  width:100vw;
  z-index:1000000;
  background:#edebe9;
  overflow-y:auto;
}

body.lichessTools.lichessTools-analysisPopup main.analyse:not(.has-relay-tour) div.analyse__controls {
  position:fixed;
  top:calc(100vh - 3rem);
  left:0;
  height:3rem;
  width:100vw;
  z-index:1000000;
  background:#edebe9;
}

body.lichessTools.lichessTools-analysisPopup.dark main.analyse:not(.has-relay-tour) div.analyse__tools,
body.lichessTools.lichessTools-analysisPopup.dark main.analyse:not(.has-relay-tour) div.analyse__controls,
body.lichessTools.lichessTools-analysisPopup.transp main.analyse:not(.has-relay-tour) div.analyse__tools,
body.lichessTools.lichessTools-analysisPopup.transp main.analyse:not(.has-relay-tour) div.analyse__controls {
  background:#101010;
}

@media not print and (prefers-color-scheme: dark) {
  body.lichessTools.lichessTools-analysisPopup.system main.analyse:not(.has-relay-tour) div.analyse__tools,
  body.lichessTools.lichessTools-analysisPopup.system main.analyse:not(.has-relay-tour) div.analyse__controls {
      background: #101010;
  }
}

body.lichessTools main.lichessTools-fixCevalToggle div.ceval div.switch {
  order:1;
  margin-left:0;
}

body.lichessTools main.lichessTools-fixCevalToggle div.ceval button.settings-gear {
  margin-right:0;
}

body.lichessTools main.lichessTools-fixCevalToggle div.ceval label[for="analyse-toggle-ceval"] {
  --analyse-toggle-size: 18px;
  height:var(--analyse-toggle-size);
  border-radius:var(--analyse-toggle-size);
  width:calc(var(--analyse-toggle-size) * 1.66)
}

body.lichessTools main.lichessTools-fixCevalToggle div.ceval label[for="analyse-toggle-ceval"]:before {
  font-size:calc(var(--analyse-toggle-size) * 0.75);
  line-height:calc(var(--analyse-toggle-size) - 2px);
  width:calc(var(--analyse-toggle-size) - 2px);
  height:calc(var(--analyse-toggle-size) - 2px);
}


body.lichessTools main.lichessTools-fixCevalToggle div.ceval label[for="analyse-toggle-ceval"]:after {
  width:calc(var(--analyse-toggle-size) - 2px);
  height:calc(var(--analyse-toggle-size) - 2px);
}

/* Prettier */
@media (min-width: 1261px) {
  body.lichessTools.lichessTools-prettier.lichessTools-fullWidthAnalysis #main-wrap:has(main.analyse):not(:has(main.analyse.has-relay-tour)):has(div.analyse__tools) {
    grid-template-columns: var(--main-margin) 0fr minmax(auto, var(--main-max-width)) 0fr var(--main-margin) !important;
    min-height:calc(100vh - var(--site-header-height) - var(--site-header-margin) - 3rem) !important;
  }

  body.lichessTools.lichessTools-prettier.lichessTools-fullWidthAnalysis #main-wrap main.analyse:not(.has-relay-tour),
  body.lichessTools.lichessTools-prettier.lichessTools-hideLeftSide #main-wrap main.analyse:not(.has-relay-tour) {
    --tools-width:1fr !important;
    --left-side-width:350px !important;
    grid-template-columns: minmax(calc(var(--left-side-width) - 100px), var(--left-side-width)) 2vmin var(--col3-uniboard-width) 80px minmax(240px,var(--tools-width)) !important;
    grid-template-rows: var(--meta-height) var(--chat-height) 1fr 2.5em auto !important;
    grid-template-areas: "side    . board gauge tools" 
                         "chat    . board gauge tools" 
                         "uchat   . under .     tools" 
                         "uchat   . under .     controls" 
                         "uchat   . under .     round-training" !important;
  }

  body.lichessTools.lichessTools-prettier.lichessTools-hideLeftSide #main-wrap main.analyse:not(.has-relay-tour) {
    --gauge-gap: 80px;
  }

/*  body.lichessTools.lichessTools-prettier #main-wrap main.analyse:not(.has-relay-tour) {
    --gauge-gap: 3rem;
  }

  body.lichessTools.lichessTools-prettier #main-wrap main.analyse:not(.has-relay-tour) div.eval-gauge {
    width:auto !important;
    margin-right: 4px;
  }

  body.lichessTools.lichessTools-prettier.lichessTools-fullWidthAnalysis #main-wrap main.analyse:not(.has-relay-tour) div.analyse__tools,
  body.lichessTools.lichessTools-prettier.lichessTools-hideLeftSide #main-wrap main.analyse:not(.has-relay-tour) div.analyse__tools,
  body.lichessTools.lichessTools-prettier.lichessTools-fullWidthAnalysis #main-wrap main.analyse:not(.has-relay-tour) div.analyse__controls,
  body.lichessTools.lichessTools-prettier.lichessTools-hideLeftSide #main-wrap main.analyse:not(.has-relay-tour) div.analyse__controls {
    left: 0 !important;
  }*/

  body.lichessTools.lichessTools-prettier.lichessTools-hideLeftSide:not(.lichessTools-fullWidthAnalysis) #main-wrap:has(main.analyse):not(:has(main.analyse.has-relay-tour)) {
    grid-template-columns: var(--main-margin) 0fr minmax(auto, var(--main-max-width)) 1fr var(--main-margin) !important;
  }

  body.lichessTools.lichessTools-prettier.lichessTools-hideLeftSide #main-wrap main.analyse:not(.has-relay-tour) {
    --left-side-width:1em !important;
  }

  body.lichessTools.lichessTools-prettier.lichessTools-hideLeftSide:not(.lichessTools-fullWidthAnalysis) #main-wrap main.analyse:not(.has-relay-tour) {
    grid-template-columns: var(--left-side-width) 0 var(--col3-uniboard-width) var(--gauge-gap) minmax(240px, 400px) !important;
  }

  body.lichessTools.lichessTools-prettier.lichessTools-hideLeftSide #main-wrap main.analyse:not(.has-relay-tour) aside.analyse__side,
  body.lichessTools.lichessTools-prettier.lichessTools-hideLeftSide #main-wrap main.analyse:not(.has-relay-tour) div.practice__side,
  body.lichessTools.lichessTools-prettier.lichessTools-hideLeftSide #main-wrap main.analyse:not(.has-relay-tour) section.mchat,
  body.lichessTools.lichessTools-prettier.lichessTools-hideLeftSide #main-wrap main.analyse:not(.has-relay-tour) div.chat__members {
    display:none !important;
  }
}

body.lichessTools.lichessTools-prettier.lichessTools-analysisPopup #main-wrap main.analyse:not(.has-relay-tour) div.analyse__tools,
body.lichessTools.lichessTools-prettier.lichessTools-analysisPopup #main-wrap main.analyse:not(.has-relay-tour) div.analyse__controls {
  position:fixed !important;
  left:0 !important;
}

body.lichessTools.lichessTools-prettier.lichessTools-analysisPopup main.analyse:not(.has-relay-tour) div.analyse__controls {
  background:var(--backgroundColor);
}