body.lichessTools .tview2.lichessTools-indentedVariations inline,
body.lichessTools .tview2.lichessTools-indentedVariations move:has(+inline) {
  padding-left: 7px;
  display: block;
}

body.lichessTools .tview2.lichessTools-indentedVariations move:has(+inline) {
  padding-left: 2em;
}

body.lichessTools .tview2.lichessTools-indentedVariations lines inline::before,
body.lichessTools .tview2.lichessTools-indentedVariations lines move:has(+inline)::before {
  margin-top: .45em;
  margin-left: -8px;
  content: " ";
  border-left: 2px solid #404040;
  border-bottom: 2px solid #404040;
  position: absolute;
  width: 8px;
  height: 6px;
}

/* a bit of a hack to avoid conflict with highlight tool */
body.lichessTools .tview2.lichessTools-indentedVariations lines move.lichessTools-lastInLine:has(+inline)::before {
  filter: brightness(0.5);
}

body.lichessTools .tview2.lichessTools-indentedVariations lines move:has(+inline)::before {
  margin-left: -2em;
}

body.lichessTools .tview2.lichessTools-indentedVariations inline::before,
body.lichessTools .tview2.lichessTools-indentedVariations inline::after {
  content: none;
}

body.lichessTools .tview2 move.lichessTools-bookmark {
  margin-top:1em;
  position:relative;
  overflow:visible;
}

body.lichessTools .tview2 move.lichessTools-bookmark bookmark {
  position:absolute;
  top:-1.5em;
  left:-0.5em;
}

body.lichessTools .tview2 move.lichessTools-bookmark bookmark label {
  font-size:smaller;
  color: orange;
}


body.lichessTools .tview2 move.lichessTools-bookmark button {
  visibility:hidden;
}

body.lichessTools .tview2 move.lichessTools-bookmark button:before {
  visibility:visible;
  content:'-';
  width: 1em;
  height: 1em;
  display:inline-flex;
  border: 1px solid gray;
  border-radius:5px;
  justify-content: center;
  align-content:center;
  flex-wrap:wrap;
  background:none;
  margin-right:3px;
  vertical-align:middle;
}

body.lichessTools .tview2 move.lichessTools-bookmark.lichessTools-collapsed button:before {
  content:'+';
}

body.lichessTools .tview2 .lichessTools-childCollapsed {
  display:none !important;
}

body.lichessTools .tview2 comment.lichessTools-empty {
  display:none !important;
}

body.lichessTools #analyse-cm a[data-role="bookmark"]:before {
  transform: scaleX(-1);
}