body.lichessTools div.explorer__config__player__choice .previous button.lichessTools-deleteUser {
  font-family: lichess;
  color: red;
  background: transparent;
  border: none;
  vertical-align: top;
}
