body.lichessTools .lichessTools-noGames {
  grid-column: span 100;
  grid-row: span 100;
  text-align: center;
  margin-top: 40%;
}

body.lichessTools .lichessTools-streamerLink {
  margin-left: 1em;
  font-size: small;
}