body.lichessTools .round__app .ruser-bottom,
body.lichessTools .round__app .rclock-bottom {
  transition: background-color 1s ease;
}

body.lichessTools .round__app.lichessTools-timeAlert .ruser-bottom,
body.lichessTools .round__app.lichessTools-timeAlert .rclock-bottom {
  background-color: #FF000080;
  transition: background-color 1s ease;
}

body.lichessTools .round__app.lichessTools-timeAlert .rclock-bottom * {
  background: none;
}

body.lichessTools #dasher_app .selector button.lichessTools-extraThemes {
  filter: drop-shadow(0px 0px 10px var(--c-clearer));
}

body.lichessTools .dasher.shown #dasher_app:has(.lichessTools-volumeBar:not(.silent)) {
  display: flex;
  width: 260px;
}

body.lichessTools .dasher.shown #dasher_app:has(.lichessTools-volumeBar:not(.silent)) .links a,
body.lichessTools .dasher.shown #dasher_app:has(.lichessTools-volumeBar:not(.silent)) .links button,
body.lichessTools .dasher.shown #dasher_app:has(.lichessTools-volumeBar:not(.silent)) .subs .sub {
  box-sizing: border-box;
}

body.lichessTools #dasher_app:has(.lichessTools-volumeBar) .sound input[type=range] {
  display:none;
}

body.lichessTools .lichessTools-volumeBar {
  writing-mode: vertical-lr;
  direction: rtl;
  max-height: min(100vh, 650px);
  padding: 0em;
  margin: 0.5em;
  width: 0.75em;
}

body.lichessTools .lichessTools-volumeBar.range::-webkit-slider-thumb,
body.lichessTools .lichessTools-volumeBar.range::-moz-range-thumb {
  width: 100%;
}

body.lichessTools .lichessTools-volumeBar.range::-moz-range-track {
  background: transparent;
  border: none;
}

body.lichessTools .lichessTools-volumeBar.silent {
  display:none;
}

body.lichessTools .dasher.shown #dasher_app:has(.lichessTools-volumeBar:not(.silent)) > div {
  flex-grow: 1;
}