body.lichessTools th.lichessTools-explorerEval {
  text-align:center;
}

body.lichessTools td.lichessTools-explorerEval {
  font-size:smaller;
}

body.lichessTools td.lichessTools-explorerEval.lichessTools-stat {
  color:#808080;
  opacity:0.7;
}


body.lichessTools td.lichessTools-explorerEval.lichessTools-bad {
  color:#A03030;
}

@media not print and (prefers-color-scheme: dark) {
  body.lichessTools.system td.lichessTools-explorerEval.lichessTools-bad {
      color: #A08080;
  }
}

body.lichessTools.dark td.lichessTools-explorerEval.lichessTools-bad,
body.lichessTools.transp td.lichessTools-explorerEval.lichessTools-bad {
    color: #A08080;
}

body.lichessTools td.lichessTools-explorerEval.lichessTools-good {
  color:#104010;
}

@media not print and (prefers-color-scheme: dark) {
  body.lichessTools.system td.lichessTools-explorerEval.lichessTools-good {
      color: #80A080;
  }
}

body.lichessTools.dark td.lichessTools-explorerEval.lichessTools-good,
body.lichessTools.transp td.lichessTools-explorerEval.lichessTools-good {
    color: #80A080;
}

body.lichessTools td.lichessTools-explorerEval.lichessTools-best {
  color:#10A010;
}

@media not print and (prefers-color-scheme: dark) {
  body.lichessTools.system td.lichessTools-explorerEval.lichessTools-best {
      color: #80FF80;
  }
}

body.lichessTools.dark td.lichessTools-explorerEval.lichessTools-best,
body.lichessTools.transp td.lichessTools-explorerEval.lichessTools-best {
    color: #80FF80;
}

body.lichessTools td.lichessTools-explorerEval.lichessTools-cloud {
  color:#1010CF;
}

@media not print and (prefers-color-scheme: dark) {
  body.lichessTools.system td.lichessTools-explorerEval.lichessTools-cloud {
      color: #8080AF;
  }
}

body.lichessTools.dark td.lichessTools-explorerEval.lichessTools-cloud,
body.lichessTools.transp td.lichessTools-explorerEval.lichessTools-cloud {
    color: #8080AF;
}

body.lichessTools tr.lichessTools-warning-red:after,
body.lichessTools tr.lichessTools-warning-green:after {
  content:'\26A0';
  position: relative;
  font-size: smaller;
  margin-left: -1em;
}

body.lichessTools tr.lichessTools-warning-red:after {
  color:#A08080;
}

body.lichessTools tr.lichessTools-warning-green:after {
  color:#80A080;
}
