body.lichessTools th.lichessTools-explorerEval {
  font-family: 'lichess';
  text-align: center;
  max-width:6em;
}

body.lichessTools td.lichessTools-explorerEval {
  font-size: smaller;
  max-width:6em;
}

body.lichessTools td.lichessTools-explorerEval.lichessTools-stat {
  color: #808080;
  opacity: 0.7;
}


body.lichessTools td.lichessTools-explorerEval.lichessTools-bad {
  color: #A03030;
}

@media not print and (prefers-color-scheme: dark) {
  html:not(.dark, .darkBoard, .light) body.lichessTools td.lichessTools-explorerEval.lichessTools-bad {
    color: #A08080;
  }
}

html.dark body.lichessTools td.lichessTools-explorerEval.lichessTools-bad,
html.darkBoard body.lichessTools td.lichessTools-explorerEval.lichessTools-bad,
html.transp body.lichessTools td.lichessTools-explorerEval.lichessTools-bad {
  color: #A08080;
}

body.lichessTools td.lichessTools-explorerEval.lichessTools-good {
  color: #104010;
}

@media not print and (prefers-color-scheme: dark) {
  html:not(.dark, .darkBoard, .light) body.lichessTools td.lichessTools-explorerEval.lichessTools-good {
    color: #80A080;
  }
}

html.dark body.lichessTools td.lichessTools-explorerEval.lichessTools-good,
html.darkBoard body.lichessTools td.lichessTools-explorerEval.lichessTools-good,
html.transp body.lichessTools td.lichessTools-explorerEval.lichessTools-good {
  color: #80A080;
}

body.lichessTools td.lichessTools-explorerEval.lichessTools-best {
  color: #10A010;
}

@media not print and (prefers-color-scheme: dark) {
  html:not(.dark, .darkBoard, .light) body.lichessTools td.lichessTools-explorerEval.lichessTools-best {
    color: #80FF80;
  }
}

html.dark body.lichessTools td.lichessTools-explorerEval.lichessTools-best,
html.darkBoard body.lichessTools td.lichessTools-explorerEval.lichessTools-best,
html.transp body.lichessTools td.lichessTools-explorerEval.lichessTools-best {
  color: #80FF80;
}

body.lichessTools td.lichessTools-explorerEval.lichessTools-cloud {
  color: #1010CF;
}

@media not print and (prefers-color-scheme: dark) {
  html:not(.dark, .darkBoard, .light) body.lichessTools td.lichessTools-explorerEval.lichessTools-cloud {
    color: #8080AF;
  }
}

html.dark body.lichessTools td.lichessTools-explorerEval.lichessTools-cloud,
html.darkBoard body.lichessTools td.lichessTools-explorerEval.lichessTools-cloud,
html.transp body.lichessTools td.lichessTools-explorerEval.lichessTools-cloud {
  color: #8080AF;
}

body.lichessTools tr.lichessTools-explorerEval-inList td:first-child {
  font-weight: bold;
  font-size: larger;
}

body.lichessTools tr.lichessTools-warning-red:after,
body.lichessTools tr.lichessTools-warning-green:after,
body.lichessTools tr.lichessTools-warning-blue:after {
  content: var(--icon-WarningSign);
  position: relative;
  font-size: smaller;
  margin-left: -1em;
}

body.lichessTools tr.lichessTools-warning-red:after {
  color: #A08080;
}

body.lichessTools tr.lichessTools-warning-green:after {
  color: #80A080;
}

body.lichessTools tr.lichessTools-warning-blue:after {
  color: #8080A0;
}

body.lichessTools section.explorer-box {
  overflow-x: auto;
}

body.lichessTools section.explorer-box div.title {
  contain: inline-size;
}

body.lichessTools section.explorer-box table.moves:has(.lichessTools-explorerEval) td:nth-child(4):last-child {
  position: absolute;
  width: -webkit-fill-available;
}

body.lichessTools section.explorer-box div.lichessTools-spoa {
  display: flex;
  justify-content: space-between;
}

body.lichessTools section.explorer-box table.moves:has(.lichessTools-explorerEval) td:nth-child(4) {
  font-size: .75em;
  text-align: right;
}