html:has(body.lichessTools dialog.lichessTools-obsSetup) {
  overflow-y: hidden;
}


body.lichessTools nav.relay-tour__tabs span.lichessTools-obsSetup {
  border-radius:5px;
}

body.lichessTools span.lichessTools-obsSetup.disabled {
  color:gray;
  opacity:0.5;
}

.togglePassword {
  cursor: pointer;
  float: right;
  margin-right: 10px;
  margin-top: -29px;
  position: relative;
  z-index: 2;
}

body.lichessTools dialog.lichessTools-obsSetup {
  margin-top: 0px;
  width: 100%;
  height: 100%;
  display: block;
  background: #000000E0;
}

body.lichessTools dialog.lichessTools-obsSetup button.close-button {
  transform:none;
}

body.lichessTools dialog.lichessTools-obsSetup a.help-button {
  position: absolute;
  top: 4px;
  right: 2em;
  width: 40px;
  height: 40px;
  z-index: 111;
  color: #ccc;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

body.lichessTools dialog.lichessTools-obsSetup a.help-button:hover {
  color: #1b78d0;
}

body.lichessTools dialog.lichessTools-obsSetup .scrollable {
  max-height: calc(100vh - 1em);
}

body.lichessTools dialog.lichessTools-obsSetup .input-wrapper {
  padding: 2em 10%;
}

body.lichessTools dialog.lichessTools-obsSetup .mappings,
body.lichessTools dialog.lichessTools-obsSetup .advanced {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 0.5em;
}

body.lichessTools dialog.lichessTools-obsSetup .advanced {
  margin-top:2em;
}

body.lichessTools dialog.lichessTools-obsSetup .mappings label,
body.lichessTools dialog.lichessTools-obsSetup .advanced label {
  text-align: left;
}

body.lichessTools dialog.lichessTools-obsSetup .mappings .defaultName {
  font-weight: bold;
  margin-bottom:1em;
}

body.lichessTools dialog.lichessTools-obsSetup .actionButtons {
  display: flex;
  justify-content: flex-end;
  padding:1em;
}