body.lichessTools dialog.lichessTools-calculationTrainer::backdrop {
  background:#00000020;
  transition: background 0.5s ease;
}

body.lichessTools dialog.lichessTools-calculationTrainer.clicked::backdrop {
  background:#00000080;
}

body.lichessTools dialog.lichessTools-calculationTrainer .dialog-content {
  display: flex;
  flex-direction: column;
  padding: 1em;
  min-width: 25em;
  height: 15em;
  min-height: fit-content;
}

body.lichessTools dialog.lichessTools-calculationTrainer div.score {
  display: flex;
  justify-content: space-evenly;
}

body.lichessTools dialog.lichessTools-calculationTrainer div.score .points {
  color: var(--accuracy-color);
}

body.lichessTools dialog.lichessTools-calculationTrainer span.empty,
body.lichessTools dialog.lichessTools-calculationTrainer div.choices {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 1em 0;
  padding: 1em;
  justify-content: space-evenly;
}

body.lichessTools dialog.lichessTools-calculationTrainer div.choices button {
  flex: 0 0 calc(50% - 1em);
  text-transform: none;
  font-size: 1.5em;
  position: relative;
}

body.lichessTools:not(.piece-letter) dialog.lichessTools-calculationTrainer div.choices button {
  font-family: "Noto Chess", "Noto Sans";
}

body.lichessTools dialog.lichessTools-calculationTrainer div.choices button:after {
  content: attr(data-accuracy);
  position: absolute;
  right: 0;
  top: 0;
}

body.lichessTools dialog.lichessTools-calculationTrainer span.empty {
  display: flex;
  padding: 2em 4em;
  font-size: 1.5em;
}

body.lichessTools dialog.lichessTools-calculationTrainer div.toggles {
  display: none;
  gap: 0.5em;
  justify-content: space-between;
  flex-wrap: wrap;
}

body.lichessTools dialog.lichessTools-calculationTrainer .showSettings div.toggles {
  display: flex;
}

body.lichessTools dialog.lichessTools-calculationTrainer div.depth {
  display: none;
  flex-direction: row;
  align-items: center;
}

body.lichessTools dialog.lichessTools-calculationTrainer .showSettings div.depth {
  display: flex;
}

body.lichessTools dialog.lichessTools-calculationTrainer #abset-depth {
  flex-grow: 1;
}

body.lichessTools dialog.lichessTools-calculationTrainer .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  opacity: 0.5;
}

body.lichessTools dialog.lichessTools-calculationTrainer button.back {
  font-size: smaller;
  color: var(--c-font-dimmer);
}

body.lichessTools dialog.lichessTools-calculationTrainer button.back:hover {
  color: var(--c-font-dim);
}

body.lichessTools dialog.lichessTools-calculationTrainer div.actions {
  display: flex;
  justify-content: space-between;
}

body.lichessTools dialog.lichessTools-calculationTrainer div.start {
  display: none;
  flex-direction: column;
}

body.lichessTools dialog.lichessTools-calculationTrainer .isStart div.start {
  display: flex;
  margin-bottom: 2em;
}

body.lichessTools dialog.lichessTools-calculationTrainer .isStart div.start button {
  align-self: center;
  padding: 1em 3em;
}

body.lichessTools dialog.lichessTools-calculationTrainer .isStart div.score,
body.lichessTools dialog.lichessTools-calculationTrainer .isStart span.empty,
body.lichessTools dialog.lichessTools-calculationTrainer .isStart div.choices {
  display: none;
}
