body.lichessTools .analyse .gamebook button.lichessTools-readComments {
  position: absolute;
  right: 50%;
  bottom: 0.75em;
  width: fit-content;
  padding-top: 0;
  color: var(--c-primary);
  font-size: 1rem;
}

body.lichessTools .analyse .gamebook button.lichessTools-readComments.dontReadComments {
  opacity: 0.5;
}

body.lichessTools .analyse .gamebook .comment:has(button.lichessTools-readComments):not(.hinted,:has(button.hint)) {
  padding-bottom: 1em;
}

body.lichessTools .analyse .gamebook .comment.hinted button.lichessTools-readComments {
  display: none;
}

body.lichessTools .analyse .gamebook:has(.feedback.end) button.lichessTools-readComments {
  display: none;
}
