body.lichessTools div.form-actions-secondary.destructive select.lichessTools-removeAll {
  border:none;
  color:#cc3333;
}

body.lichessTools div.form-actions-secondary.destructive select.lichessTools-removeAll option {
  border:none;
  color:inherit;
}

body.lichessTools table.study__tags button.lichessTools-deleteTag {
  font-family: lichess;
  color: #A08080;
  background: transparent;
  border: none;
  vertical-align: top;
  margin-right:0.5em;
}

body.lichessTools table.study__tags th {
  width:20%;
}