body.lichessTools #dasher_app .piece .head .lichessTools-infoIcon {
  float: right;
}

body.lichessTools #dasher_app input.lichessTools-extraPieceSets {
  border: none;
  width: 100%;
}

body.lichessTools #dasher_app .lichessTools-filteredPieces {
  display: none;
}

body.lichessTools #dasher_app button.lichessTools-extraPieceSets {
  border-radius:33%;
  border-width: 1px;
  border-style: solid;
}

body.lichessTools #dasher_app button.lichessTools-extraPieceSets.i1 {
  border-color: #5d9948;
}

body.lichessTools #dasher_app button.lichessTools-extraPieceSets.i2 {
  border-color: violet;
}

body.lichessTools #dasher_app button.lichessTools-extraPieceSets.i3 {
  border-color: black;
}

body.lichessTools #dasher_app button.lichessTools-extraPieceSets.i4 {
  border-color: white;
}

body.lichessTools #dasher_app button.lichessTools-extraPieceSets.i5 {
  border-color: blue;
}

body.lichessTools div.lichessTools-extraPieceSets {
  display:flex;
  justify-content: stretch;
  align-items: center;
}

body.lichessTools div.lichessTools-extraPieceSets .graph {
  padding: 0em 0.33em;
  font-size: 2em;
}


body.lichessTools div.lichessTools-extraPieceSets .search {
  flex-grow: 1;
}

body.lichessTools dialog.lichessTools-extraPieceSets {
  transition: opacity 1s ease;
}

body.lichessTools dialog.lichessTools-extraPieceSets svg {
  background: #eee;
}

@media not print and (prefers-color-scheme: dark) {
  html:not(.dark, .darkBoard, .light) body.lichessTools dialog.lichessTools-extraPieceSets svg {
    background: #111;
  }
}

html.dark body.lichessTools dialog.lichessTools-extraPieceSets svg,
html.darkBoard body.lichessTools dialog.lichessTools-extraPieceSets svg,
html.transp body.lichessTools dialog.lichessTools-extraPieceSets svg {
  background: #111;
}

body.lichessTools dialog.lichessTools-extraPieceSets svg path {
  fill: none;
  stroke: #444;
  stroke-width: 1.5;
}

body.lichessTools dialog.lichessTools-extraPieceSets svg circle {
  fill: #222;
  stroke: #666;
  stroke-width: 1.5;
}

body.lichessTools dialog.lichessTools-extraPieceSets svg circle.selected {
  fill: #0a2a33;
  stroke: #00d4ff;
  stroke-width: 4;
}

body.lichessTools dialog.lichessTools-extraPieceSets svg image {
  cursor: pointer;
}

body.lichessTools dialog.lichessTools-extraPieceSets .dialog-content,
body.lichessTools dialog.lichessTools-extraPieceSets .dialog-content > div {
  min-width: 95vw;
  min-height: 95vh;
}

body.lichessTools dialog.lichessTools-extraPieceSets.changed {
  opacity:0;
}

body.lichessTools:has(dialog.lichessTools-extraPieceSets.changed) #dasher_app {
  display:none;
}
