body.lichessTools #dasher_app .piece .head .lichessTools-infoIcon {
  float: right;
}

body.lichessTools #dasher_app button.lichessTools-extraPieceSets.chesscom {
  border-radius:33%;
  border: 1px solid #5d9948;
}

body.lichessTools #dasher_app button.lichessTools-extraPieceSets.siderite {
  border-radius:0%;
  border: 1px dashed violet;
}

body.lichessTools #dasher_app button.lichessTools-extraPieceSets.hollowleaf {
  border-radius:33%;
  border: 1px solid black;
}

body.lichessTools #dasher_app button.lichessTools-extraPieceSets.bend-n {
  border-radius:33%;
  border: 1px solid blue;
}

body.lichessTools #dasher_app button.lichessTools-extraPieceSets.comfysage {
  border-radius:33%;
  border: 1px solid orange;
}

body.lichessTools #dasher_app button.lichessTools-extraPieceSets.tage64 {
  border-radius:33%;
  border: 1px solid cyan;
}

body.lichessTools #dasher_app button.lichessTools-extraPieceSets.OwOHamper {
  border-radius:33%;
  border: 1px solid pink;
}

body.lichessTools #dasher_app button.lichessTools-extraPieceSets.DragurKnight {
  border-radius:33%;
  border: 1px dashed green;
}

body.lichessTools #dasher_app button.lichessTools-extraPieceSets.LichessHelper {
  border-radius:33%;
  border: 1px dotted darkviolet;
}

body.lichessTools #dasher_app button.lichessTools-extraPieceSets.basedpolymer {
  box-shadow: 
    inset 0 0 0 1px white,
    inset 0 0 0 2px black
}

body.lichessTools #dasher_app button.lichessTools-extraPieceSets.FelixKling {
  border-radius:15%;
  border: 1px solid indigo;
}

body.lichessTools #dasher_app button.lichessTools-extraPieceSets.Moldenke1 {
  border-radius:40%;
  border: 1px solid limegreen;
}

body.lichessTools #dasher_app button.lichessTools-extraPieceSets.sharechess {
  border-radius:15%;
  border: 1px dotted red;
}

body.lichessTools #dasher_app button.lichessTools-extraPieceSets.NayukiMafuyu {
  border-radius:25%;
  border: 1px solid yellow;
}
