body.lichessTools canvas.lichessTools-memberCount {
  width: 100%;
  padding-left: 2.5em;
}


@media not print and (prefers-color-scheme: dark) {
  html:not(.dark, .light) body.lichessTools canvas.lichessTools-memberCount {
    filter: invert(1);
  }
}

html.dark body.lichessTools canvas.lichessTools-memberCount {
  filter: invert(1);
}