body.lichessTools #us_profile > .rating-history-container:has(label.lichessTools-profileSliderText) {
  max-width:100vw;
}

body.lichessTools .time-selector-buttons:has(label.lichessTools-profileSliderText) {
  display: flex;
  flex-wrap: wrap;
}

body.lichessTools .time-selector-buttons label.lichessTools-profileSliderText {
  align-self:center;
  flex-grow: 1;
  text-align: end;
  margin-right:2em;
}
