body.lichessTools section.explorer-box span.lichessTools-explorerPractice {
  padding: 0 7px;
  cursor: pointer;
}

body.lichessTools section.explorer-box.lichessTools-explorerPracticeInAnalysis table.moves {
  display:none;
}

