body.lichessTools section.explorer-box span.lichessTools-explorerPractice {
  padding: 0 7px;
  cursor: pointer;
}

body.lichessTools section.explorer-box span.lichessTools-explorerPractice.active:before {
  color:black;
  transform:scale(1.2);
}


@media not print and (prefers-color-scheme: dark) {
  body.lichessTools.system section.explorer-box span.lichessTools-explorerPractice.active:before {
      color: white;
  }
}

body.lichessTools.dark section.explorer-box span.lichessTools-explorerPractice.active:before, 
body.lichessTools.transp section.explorer-box span.lichessTools-explorerPractice.active:before {
    color: white;
}


body.lichessTools section.explorer-box.lichessTools-explorerPracticeInAnalysis table.moves {
  display:none;
}

body.lichessTools .explorer-box .moves tbody tr.sum.lichessTools-sumClick td {
  cursor:pointer;
}


/* Prettier Lichess CSS */

body.lichessTools.lichessTools-prettier section.explorer-box span.lichessTools-explorerPractice.active:before {
  color:black;
}