body.lichessTools section.explorer-box span.lichessTools-explorerPractice {
  padding: 0 7px;
  cursor: pointer;
}

body.lichessTools section.explorer-box span.lichessTools-explorerPractice.active:before {
  color: black;
  transform: scale(1.2);
}

body.lichessTools section.explorer-box span.lichessTools-explorerPractice.active.lichessTools-outOfMoves {
  filter: contrast(0.5);
}

@media not print and (prefers-color-scheme: dark) {
  html:not(.dark, .darkBoard, .light) body.lichessTools section.explorer-box span.lichessTools-explorerPractice.active:before {
    color: white;
  }
}

html.dark body.lichessTools section.explorer-box span.lichessTools-explorerPractice.active:before,
html.darkBoard body.lichessTools section.explorer-box span.lichessTools-explorerPractice.active:before,
html.transp body.lichessTools section.explorer-box span.lichessTools-explorerPractice.active:before {
  color: white;
}


body.lichessTools section.explorer-box.lichessTools-hideExplorerData table.moves {
  display: none;
}

body.lichessTools .explorer-box .moves tbody tr.sum.lichessTools-sumClick td {
  cursor: pointer;
}

body.lichessTools div.main-board cg-board label.lichessTools-explorerPractice {
  z-index: auto;
  position: absolute;
}

body.lichessTools div.main-board cg-board label.lichessTools-explorerPractice span {
  border-radius: 10%;
  background: #80808040;
  color: white;
  text-shadow: 1px 1px #808080;
}

body.lichessTools div.main-board cg-board label.lichessTools-explorerPractice.black span {
  color: black;
  text-shadow: 1px 1px #808080;
}

body.lichessTools main:has(.analyse__tools .lichessTools-explorerPractice.active) div.analyse__controls button[data-mode="practice"] {
  display: none;
}

body.lichessTools button.lichessTools-hideExplorerMovesButton {
  display:none;
  position: sticky;
  bottom: 2px;
  border:none;
  border-radius: 5px;
  background: var(--c-bg-zebra2);
  padding: 0.5em;
  opacity: 0.5;
}

body.lichessTools.mobile button.lichessTools-hideExplorerMovesButton,
body.lichessTools section.explorer-box:hover button.lichessTools-hideExplorerMovesButton {
  opacity:1;
}

body.lichessTools section.explorer-box:has(.lichessTools-explorerPractice.active) button.lichessTools-hideExplorerMovesButton {
  display:block;
}

/* Prettier Lichess CSS */

body.lichessTools.lichessTools-prettier section.explorer-box span.lichessTools-explorerPractice.active:before {
  color: black;
}