body.lichessTools section.explorer-box span.lichessTools-explorerPractice {
  padding: 0 7px;
  cursor: pointer;
}

body.lichessTools section.explorer-box span.lichessTools-explorerPractice.active:before {
  color: black;
  transform: scale(1.2);
}


@media not print and (prefers-color-scheme: dark) {
  html:not(.dark, .darkBoard, .light) body.lichessTools section.explorer-box span.lichessTools-explorerPractice.active:before {
    color: white;
  }
}

html.dark body.lichessTools section.explorer-box span.lichessTools-explorerPractice.active:before,
html.darkBoard body.lichessTools section.explorer-box span.lichessTools-explorerPractice.active:before,
html.transp body.lichessTools section.explorer-box span.lichessTools-explorerPractice.active:before {
  color: white;
}


body.lichessTools section.explorer-box.lichessTools-hideExplorerData table.moves {
  display: none;
}

body.lichessTools .explorer-box .moves tbody tr.sum.lichessTools-sumClick td {
  cursor: pointer;
}

body.lichessTools div.main-board cg-board label.lichessTools-explorerPractice {
  z-index: 100000;
  position: absolute;
}

body.lichessTools div.main-board cg-board label.lichessTools-explorerPractice span {
  border-radius: 10%;
  background: #80808040;
  color: white;
  text-shadow: 1px 1px #808080;
}

body.lichessTools div.main-board cg-board label.lichessTools-explorerPractice.black span {
  color: black;
  text-shadow: 1px 1px #808080;
}

body.lichessTools main:has(.analyse__tools .lichessTools-explorerPractice.active) div.analyse__controls button[data-act="ceval-practice"] {
  display: none;
}

/* Prettier Lichess CSS */

body.lichessTools.lichessTools-prettier section.explorer-box span.lichessTools-explorerPractice.active:before {
  color: black;
}