body.lichessTools div.game__meta .lichessTools-structure,
body.lichessTools div.chat__members .lichessTools-structure {
  margin-left: 1em;
  display: flex;
  font-size: x-small;
  align-items: center;
  overflow: hidden;
  justify-content: right;
}

body.lichessTools a.mini-game .lichessTools-structure {
  margin: 3px 0.5em 0.3em 0.7em;
  display: block;
  opacity: 0.7;
  height: auto;
  font-size: x-small;
  text-overflow: ellipsis;
  overflow: hidden;
}


body.lichessTools div.analyse__wiki .lichessTools-structure,
body.lichessTools .copyables .lichessTools-structure {
  font-size: 0.8em;
  width: 100%;
  display: block;
  text-align: right;
}

body.lichessTools .lichessTools-structure:before {
  margin-right: 0.4em;
  margin-inline: 0 0.4em;
  content: '\260D'; /* Opposition */
  transform: scale(1.25);
  transform-origin: center;
  align-self: center;
  color: #808080;
}

body.lichessTools.lichessTools-structureMiniGames a.mini-game:not(:has(.lichessTools-structure)) {
  padding-bottom: 2em;
}

@media (min-width: 1259.3px) {
  main.analyse.is-relay:not(.has-relay-tour) .chat__members:has(.lichessTools-structure) {
    display: block;
  }
}