body.lichessTools div.form-group button.lichessTools-changeNameButton {
  text-wrap: wrap;
  text-transform: initial;
}

@media (min-width: 799.3px) {

  body.lichessTools div.form-group button.lichessTools-changeNameButton {
    max-width: 50%;
  }

}

/* Prettier Lichess CSS */

body.lichessTools.lichessTools-prettier div.form-group button.lichessTools-changeNameButton {
  text-wrap: wrap !important;
}