body.lichessTools section.lichessTools-explorerSettings button[disabled] {
  opacity: 0.3;
}

body.lichessTools .lichessTools-explorerSettings .choices {
  flex-wrap: wrap;
}

body.lichessTools td.lichessTools-notCompact {
  display: none;
}

body.lichessTools td.lichessTools-compact {
  font-size: 0.75em;
}

/* fix too many things in the Explorer table */

body.lichessTools section.explorer-box .data {
  min-width: fit-content;
}

body.lichessTools section.explorer-box td.lichessTools-evalRow {
  text-align: center;
}

/* Prettie Lichess fixes */

body.lichessTools.lichessTools-prettier .explorer-box td {
  padding: 5px !important;
}

body.lichessTools.lichessTools-prettier .explorer__config .choices button {
  padding: 0 5px !important;
}