body.lichessTools div.study__server-eval.ready {
  position:relative;
}

body.lichessTools .lichessTools-chartInfo {
  position: absolute;
  left: 1.5em;
  top: 0;
  filter: drop-shadow(0px 0px 1px white);
  font-size: 1.1em;
}

body.lichessTools tick.lichessTools-material {
  height:0;
  border-top: 5px #00FF00 solid;
  border-bottom:none;
  transition: top 0.5s;
}

body.lichessTools tick.lichessTools-principled {
  height:0;
  border-top: 5px #0040FF solid;
  border-bottom:none;
  transition: top 0.5s;
}

body.lichessTools div.symbol.lichessTools-goodMoves {
  color: #009914;
}

body.lichessTools.dark div.symbol.lichessTools-goodMoves,
body.lichessTools.transp div.symbol.lichessTools-goodMoves {
  color: #168226;
}

@media not print and (prefers-color-scheme: dark) {
  body.lichessTools.system div.symbol.lichessTools-goodMoves {
    color: #168226;
  }
}

body.lichessTools span.lichessTools-christmas {
  z-index: 100;
  position: absolute;
  bottom: 1em;
  display: block;
  width: 100%;
  text-align: center;
  transition: color 1s;
}