body.lichessTools dialog.lichessTools-chessPursuit .scrollable {
  overflow: hidden;
  touch-action: none;
}

body.lichessTools dialog.lichessTools-chessPursuit .dialog-content {
  position: relative;
  --game-size: min(80vw, calc(0.8 * 90vh));
  width: var(--game-size);
  height: calc(1.25 * var(--game-size));
  cursor: pointer;
  -webkit-tap-highlight-color: transparent !important;
}

body.lichessTools dialog.lichessTools-chessPursuit canvas,
body.lichessTools dialog.lichessTools-chessPursuit svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--game-size);
}

body.lichessTools dialog.lichessTools-chessPursuit svg {
  overflow: hidden;
  height: calc(1.25 * var(--game-size));
}

body.lichessTools dialog.lichessTools-chessPursuit #shadow {
  display: none;
}
