body.lichessTools #dasher_app .board .list button.lichessTools-customBoardImage.active {
  border: 3px solid var(--c-good);
}

body.lichessTools #dasher_app .board .list button.lichessTools-customBoardImage {
  flex: 0 0 33%;
  height: 40px;
  justify-content: center;
  display: flex;
  background: none;
  flex-flow: row wrap;
  align-items: center;
  order: 9999;
  padding: 0.5em;
  white-space:nowrap;
}

body.lichessTools dialog[open] .lichessTools-combo .combo-list {
  width: min(40ch, 90%);
  justify-self: center;
}

body.lichessTools dialog[open]:has(.lichessTools-combo),
body.lichessTools dialog[open]:has(.lichessTools-combo) div.scrollable {
  overflow: visible;
}

body.lichessTools.mobile:has(dialog[open]):has(.lichessTools-combo) #dasher_app {
  opacity:0.2;
}