/* Fat Gauge */

body.lichessTools.lichessTools-theme_fatGauge {
  ---analysis-gauge-width: 50px;
}

body.lichessTools.lichessTools-theme_fatGauge main.puzzle:has(.eval-gauge),
body.lichessTools.lichessTools-theme_fatGauge main.analyse:has(.eval-gauge) {
  ---block-gap: var(---analysis-gauge-width);
  /*border-radius: 10px;
  border: 1px solid var(--c-border);*/
}

body.lichessTools.lichessTools-theme_fatGauge .mini-game__gauge {
  flex-basis: 7%;
  scale: 1.25 1;
}

@media (max-width: 799.3px) {
  body.lichessTools.lichessTools-theme_fatGauge main.analyse.gauge-on.lichessTools-gaugeOnMobile div.eval-gauge {
    width: 1.5em;
  }
}