/* Fix third parties */

/** Lichess **/

@media (min-width: 1259.3px) {

  body.lichessTools.lichessTools-hasBoardSize div.eval-gauge {
    max-height: min(calc(100vh - var(---site-header-height)), max(488px, var(--board-size)));
  }

}

/** Prettier **/

body.lichessTools.lichessTools-prettier.lichessTools-theme_fixThirdParties #dasher_app {
  overflow: visible !important;
}

body.lichessTools.lichessTools-prettier.lichessTools-theme_fixThirdParties .analyse__side {
  border: none !important;
  backdrop-filter: none !important;
  background: none !important;
}

body.lichessTools.lichessTools-prettier.lichessTools-theme_fixThirdParties .lobby__side > div {
  overflow: hidden;
  min-height: max-content;
}

@media (min-width: 800px) {
  body.lichessTools.lichessTools-prettier.lichessTools-theme_fixThirdParties .gamebook {
    margin-left: -1em !important;
  }
}

body.lichessTools.lichessTools-prettier.lichessTools-theme_fixThirdParties .analyse:not(.has-players) {
  margin-top: 0 !important;
}

body.lichessTools.lichessTools-prettier.lichessTools-theme_fixThirdParties .analyse .gamebook .comment:has(button.lichessTools-readComments):not(.hinted, :has(button.hint)) {
  padding-bottom: 0;
}

html:has(body.lichessTools.lichessTools-prettier.lichessTools-theme_fixThirdParties.lichessTools-hasBoardBackground)[style*="#FFFFFF00"] main cg-board::before {
  background: var(--board-background) !important;
  background-size: 100% 100% !important;
}

body.lichessTools.lichessTools-prettier #topnav.hover section div[role="group"] {
  opacity: 1 !important;
  margin-top: 0 !important;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
}
