/* Flair X */

body.lichessTools.lichessTools-theme_flairX img.uflair:hover {
  scale: 3;
  filter: drop-shadow(3px 1px 5px #808080);
  transition: scale 1s;
  position: relative;
  z-index: 1;
}

body.lichessTools.lichessTools-theme_flairX #powerTip:has(img.uflair:hover),
body.lichessTools.lichessTools-theme_flairX *:has(> img.uflair:hover,> * > img.uflair:hover,> * > * > img.uflair:hover):not(.mchat__messages) {
  overflow: visible;
}