/* Mobile */

body.lichessTools.lichessTools-theme_mobile.mobile {
  --site-header-height: 30px;
  --site-header-margin: 4px;
}

body.lichessTools.lichessTools-theme_mobile.mobile #top {
  --dropdown-top: 30px;
}

body.lichessTools.lichessTools-theme_mobile.mobile  main.analyse:not(.has-relay-tour) {
  grid-template-areas:
    "board"
    "controls"
    "tools"
    "under"
    "side"
    "round-training"
    "chat"
    "uchat";
  grid-template-rows: auto;
}

body.lichessTools.lichessTools-theme_mobile.mobile  main.analyse:not(.has-relay-tour):has(.action-menu) .analyse__underboard,
body.lichessTools.lichessTools-theme_mobile.mobile  main.analyse:not(.has-relay-tour):has(.action-menu) .analyse__side {
  display:none;
}

body.lichessTools.lichessTools-theme_mobile.mobile  main.analyse:not(.has-relay-tour) .action-menu {
  min-height:50vh;
}

body.lichessTools.lichessTools-theme_mobile.mobile  main.analyse:not(.has-relay-tour) .explorer-box  {
  min-height:20em;
}

body.lichessTools.lichessTools-theme_mobile.mobile  main.analyse:not(.has-relay-tour) .analyse__moves  {
  min-height:20em;
}

body.lichessTools.lichessTools-theme_mobile.mobile  main.analyse.has-players:not(.has-relay-tour) .main-board {
  margin-top:1.2rem;
  margin-bottom:1.8rem;
}

body.lichessTools.lichessTools-theme_mobile.mobile  main.analyse:not(.has-relay-tour) .gamebook {
  margin-top:4px;
}

body.lichessTools.lichessTools-theme_mobile.mobile  main.analyse:not(.has-relay-tour) .gamebook .floor {
  margin-top:0;
  max-height:6em;
  align-items:center;
}

body.lichessTools.lichessTools-theme_mobile.mobile  main.analyse:not(.has-relay-tour) .gamebook .floor img.mascot {
  height:5em;
}

body.lichessTools.lichessTools-theme_mobile.mobile  main.analyse:not(.has-relay-tour) .feedback {
  height:auto;
  min-height:5rem;
}

body.lichessTools.lichessTools-theme_mobile.mobile  main.analyse:not(.has-relay-tour) .analyse-controls {
  margin-top:0;
}

body.lichessTools.lichessTools-theme_mobile.mobile label.hbg[for="tn-tg"] span {
  display:none;
}

body.lichessTools.lichessTools-theme_mobile.mobile label.hbg[for="tn-tg"]:after {
  content:"\2630";
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}

/** Prettier **/

body.lichessTools.lichessTools-prettier.lichessTools-theme_mobile.mobile  main.analyse.has-players:not(.has-relay-tour) .main-board {
  margin-top:2rem;
  margin-bottom:2.5rem;
}
