/* No fish button on mobile */

body.lichessTools.lichessTools-theme_mobileNoFish.mobile .analyse__controls button[data-act="ceval"] {
  display:none;
}

body.lichessTools.lichessTools-theme_mobileNoFish.mobile .analyse__tools div.ceval {
  display:flex;
}

@media (max-width: 799.29px) and (orientation: portrait) {
  body.lichessTools.lichessTools-theme_mobileNoFish.mobile .analyse__tools .ceval .switch {
    display: flex;
  }
}