/* No study chat */

@media (min-width: 1259.3px) {

  body.lichessTools.lichessTools-theme_noStudyChat:not(.is-relay) .chat__members {
    height: 6em;
    bottom: 0;
    position: fixed;
  }

  body.lichessTools.lichessTools-theme_noStudyChat:not(.is-relay) .mchat {
    display:none;
  }

  body.lichessTools.lichessTools-theme_noStudyChat:not(.is-relay) .study__chapters {
    max-height: calc(100vh - 15em - var(---site-header-height));
  }

  body.lichessTools.lichessTools-theme_noStudyChat:not(.is-relay) aside.analyse__side {
    position: absolute;
    width: var(--left-side-width);
  }

}