/* No study chat */

@media (min-width: 1259.3px) {

  body.lichessTools.lichessTools-theme_noStudyChat main.analyse:not(.is-relay) .chat__members {
    height: 8em;
    bottom: 0;
    position: fixed;
    width: var(--left-side-width);
  }

  body.lichessTools.lichessTools-theme_noStudyChat main.analyse:not(.is-relay) .mchat {
    display:none;
  }

  body.lichessTools.lichessTools-theme_noStudyChat main.analyse:not(.is-relay) .study__chapters {
    max-height: calc(100vh - 17em - var(---site-header-height));
  }

  body.lichessTools.lichessTools-theme_noStudyChat main.analyse:not(.is-relay) aside.analyse__side {
    position: absolute;
    width: var(--left-side-width);
  }

}

/** Prettier **/

@media (min-width: 1259.3px) {
  body.lichessTools.lichessTools-prettier.lichessTools-theme_noStudyChat main.analyse:not(.is-relay) .study__chapters {
    height: calc(100vh - 17em - var(---site-header-height));
  }
}
