/* Piece Dragging */

body.lichessTools.lichessTools-theme_pieceDrag piece.dragging {
  background-size: 120%;
  background-position: center;
}

body.lichessTools.lichessTools-theme_pieceDrag piece.white.dragging {
  filter: drop-shadow(10px 5px 10px #202020);
}

body.lichessTools.lichessTools-theme_pieceDrag piece.black.dragging {
  filter: drop-shadow(10px 5px 10px #404040);
}

body.lichessTools.lichessTools-theme_pieceDrag square.move-dest:hover {
  background: unset;
  box-shadow: inset 0px 0px 7px 7px #FFFFFF80;
  backdrop-filter: brightness(90%);
}

body.lichessTools.lichessTools-theme_pieceDrag .is3d square.move-dest {
  z-index: 300;
}

body.lichessTools.lichessTools-theme_pieceDrag .is3d piece.dragging {
  background-size: 100%;
}

body.lichessTools.lichessTools-theme_pieceDrag .is3d piece {
  clip-path: ellipse(40% 50% at 50% 50%);
}


body.lichessTools.lichessTools-theme_pieceDrag .is3d piece.pawn {
  clip-path: ellipse(40% 30% at 50% 55%);
}

/*body.lichessTools.lichessTools-theme_pieceDrag .manipulable cg-board {
  cursor: pointer;
}*/

body.lichessTools.lichessTools-theme_pieceDrag .manipulable cg-board:has(piece.dragging) {
  cursor: grabbing;
}
