/* Slim Arrows */

body.lichessTools.lichessTools-theme_slimArrows {
  --slimness: 0.16px;
}

body.lichessTools.lichessTools-theme_slimArrows g[cgHash] line[marker-end][stroke-width="0.234375"] {
  stroke-width: calc( var(--slimness) * 0.95) !important;
}

body.lichessTools.lichessTools-theme_slimArrows g[cgHash] line[marker-end][stroke-width="0.21785"] {
  stroke-width: calc( var(--slimness) * 0.88) !important;
}

body.lichessTools.lichessTools-theme_slimArrows g[cgHash] line[marker-end][stroke-width="0.203125"] {
  stroke-width: calc( var(--slimness) * 0.81) !important;
}

body.lichessTools.lichessTools-theme_slimArrows g[cgHash] line[marker-end][stroke-width="0.1875"] {
  stroke-width: calc( var(--slimness) * 0.75) !important;
}

body.lichessTools.lichessTools-theme_slimArrows g[cgHash] line[marker-end][stroke-width="0.171875"] {
  stroke-width: calc( var(--slimness) * 0.69) !important;
}

body.lichessTools.lichessTools-theme_slimArrows g[cgHash] line[marker-end][stroke-width="0.15625"] {
  stroke-width: calc( var(--slimness) * 0.63) !important;
}


body.lichessTools.lichessTools-theme_slimArrows g[cgHash] line[marker-end][stroke-width="0.274375"] {
  stroke-width: calc( var(--slimness) * 1.00) !important;
}

body.lichessTools.lichessTools-theme_slimArrows g[cgHash] line[marker-end][stroke-width="0.25785"] {
  stroke-width: calc( var(--slimness) * 0.95) !important;
}

body.lichessTools.lichessTools-theme_slimArrows g[cgHash] line[marker-end][stroke-width="0.243125"] {
  stroke-width: calc( var(--slimness) * 0.88) !important;
}

body.lichessTools.lichessTools-theme_slimArrows g[cgHash] line[marker-end][stroke-width="0.2275"] {
  stroke-width: calc( var(--slimness) * 0.81) !important;
}

body.lichessTools.lichessTools-theme_slimArrows g[cgHash] line[marker-end][stroke-width="0.211875"] {
  stroke-width: calc( var(--slimness) * 0.75) !important;
}

body.lichessTools.lichessTools-theme_slimArrows g[cgHash] line[marker-end][stroke-width="0.19625"] {
  stroke-width: calc( var(--slimness) * 0.69) !important;
}


body.lichessTools.lichessTools-theme_slimArrows g[cgHash] g[filter] line[marker-end][stroke-width="0.234375"] {
  stroke-width: calc( var(--slimness) * 1.06) !important;
}

body.lichessTools.lichessTools-theme_slimArrows g[cgHash] g[filter] line[marker-end][stroke-width="0.21785"] {
  stroke-width: calc( var(--slimness) * 1.00) !important;
}

body.lichessTools.lichessTools-theme_slimArrows g[cgHash] g[filter] line[marker-end][stroke-width="0.203125"] {
  stroke-width: calc( var(--slimness) * 0.95) !important;
}

body.lichessTools.lichessTools-theme_slimArrows g[cgHash] g[filter] line[marker-end][stroke-width="0.1875"] {
  stroke-width: calc( var(--slimness) * 0.88) !important;
}

body.lichessTools.lichessTools-theme_slimArrows g[cgHash] g[filter] line[marker-end][stroke-width="0.171875"] {
  stroke-width: calc( var(--slimness) * 0.81) !important;
}

body.lichessTools.lichessTools-theme_slimArrows g[cgHash] g[filter] line[marker-end][stroke-width="0.15625"] {
  stroke-width: calc( var(--slimness) * 0.75) !important;
}


body.lichessTools.lichessTools-theme_slimArrows g[cgHash] g[filter] line[marker-end][stroke-width="0.274375"] {
  stroke-width: calc( var(--slimness) * 1.13) !important;
}

body.lichessTools.lichessTools-theme_slimArrows g[cgHash] g[filter] line[marker-end][stroke-width="0.25785"] {
  stroke-width: calc( var(--slimness) * 1.06) !important;
}

body.lichessTools.lichessTools-theme_slimArrows g[cgHash] g[filter] line[marker-end][stroke-width="0.243125"] {
  stroke-width: calc( var(--slimness) * 1.00) !important;
}

body.lichessTools.lichessTools-theme_slimArrows g[cgHash] g[filter] line[marker-end][stroke-width="0.2275"] {
  stroke-width: calc( var(--slimness) * 0.95) !important;
}

body.lichessTools.lichessTools-theme_slimArrows g[cgHash] g[filter] line[marker-end][stroke-width="0.211875"] {
  stroke-width: calc( var(--slimness) * 0.88) !important;
}

body.lichessTools.lichessTools-theme_slimArrows g[cgHash] g[filter] line[marker-end][stroke-width="0.19625"] {
  stroke-width: calc( var(--slimness) * 0.81) !important;
}


body.lichessTools.lichessTools-theme_slimArrows marker[id^=arrowhead] path[d="M0,0 V4 L3,2 Z"] {
  d: path("M0,0 L1,2 L0,4 L3,2 Z");
}