body.lichessTools button.lichessTools-expandAll {
  background: transparent;
  font-size: 1.25em;
  border: 0.5px gray solid;
  flex-basis: 6%;
}

body.lichessTools button.lichessTools-expandAll+index {
  flex-basis: 6.66%;
}

body.lichessTools .lichessTools-expandAllVariations .disclosure.expanded,
body.lichessTools .lichessTools-expandAllVariations .tview2 a[data-icon="\e02e"],
body.lichessTools .lichessTools-expandAllVariations .disclosure.expanded+index:before,
body.lichessTools .lichessTools-expandAllVariations .disclosure.expanded+san:before,
body.lichessTools .lichessTools-expandAllVariations branch,
body.lichessTools .lichessTools-expandAllVariations .disclosure-connector {
  display:none;
}

@media print {
  body.lichessTools button.lichessTools-expandAll {
    display: none;
  }
}