body.lichessTools a.lichessTools-commonTeams {
  align-self: center;
  font-size: 1.25em;
  margin-right:0.5em;
}

body.lichessTools a.lichessTools-commonTeams.lichessTools-lichessToolsTeam {
  animation: fire-glow 1.25s ease-in-out infinite alternate;
  color: var(--c-brag);
}

@keyframes fire-glow {
  0% {
    text-shadow: 0 .008em .127em #fefcc9,.055em -0.066em .2em #feec85,-0.111em -0.127em .272em #ffae34,.111em -0.272em .411em #ec760c,-0.111em -0.456em .416em #cd4606,0 -0.533em .577em #973716,.055em -0.55em .533em #451b0e
  }

  100% {
    text-shadow: 0 0 .111em #fefcc9,.055em -0.055em .166em #fefcc9,-0.111em -0.111em .222em #feec85,.122em -0.233em .333em #ffae34,-0.122em -0.322em .277em #ec760c,0 -0.456em .444em #cd4606,.055em -0.5em .444em #973716
  }
}