:root {
  --icon-ShowTranspositions: "T";
  --icon-FloppyDisk: "\1F4BE";
  --icon-LeftwardsDoubleHeadedArrow: "\219E";
  --icon-LeftwardsArrow: "\2190";
  --icon-DownwardsZigzagArrow: "\21AF";
  --icon-RightwardsArrow: "\2192";
  --icon-RightwardsDoubleHeadedArrow: "\21A0";
  --icon-SquareFourCorners: "\26F6";
  --icon-Mirror: "\1F99E";
  --icon-NorthEastDoubleArrow: "\21D7";
  --icon-RightwardsPairedArrows: "\21C9";
  --icon-WhiteScissors: "\2704";
  --icon-BlackScissors: "\2702";
  --icon-CircledLatinCapitalLetterY: "\24CE";
  --icon-EditorialCoronis: "\2E0E";
  --icon-PushPin: "\1F4CC";
  --icon-WarningSign: "\26A0";
  --icon-CryingFace: "\1F622";
  --icon-SlightlyFrowningFace: "\1F641";
  --icon-NeutralFace: "\1F610";
  --icon-SlightlySmilyingFace: "\1F642";
  --icon-GrinningFaceWithSmilingEyes: "\1F601";
  --icon-NorthEastArrowWithHook: "\2924";
  --icon-Comet: "\2604";
  --icon-WhiteChessKnight: "\2658";
  --icon-WhiteChessBishop: "\2657";
  --icon-WhiteChessRook: "\2656";
  --icon-WhiteChessQueen: "\2655";
  --icon-WhiteChessKing: "\2654";
  --icon-WhiteStar: "\2606";
  --icon-BulletPoint: "\2022";
  --icon-Ellipsis: "\2026";
  --icon-ThumbsUpSign: "\1F44D";
  --icon-ThumbsDownSign: "\1F44E";
  --icon-PoutingFace: "\1F621";
  --icon-SmilingFaceWithHorns: "\1F608";
  --icon-SparklingHeart: "\1F496";
  --icon-SuperscriptCapitalL: "\00A0\1D38";
  --icon-SuperscriptCapitalT: "\00A0\1D40";
  --icon-WhiteChessPawn: "\2659";
  --icon-Opposition: "\260D";
  --icon-Document: "\1F5CE";
  --icon-UpwardsWhiteArrow: "\21E7";
  --icon-DownwardsWhiteArrow: "\21E9";
  --icon-Mate: "\266F";
  --icon-OpenBook: "\1F4D6";
  --icon-Checked: "\2713";
  --icon-RedX: "\2716";
  --icon-Print: "\1F5B6";
  --icon-LightVerticalAndBottomRight: "\23BF";
  --icon-ExclamationQuestionMark: "\2049";
  --icon-BlackDownPointingSmallTriangle: "\25BE";
  --icon-BlackRightPointingSmallTriangle: "\25B8";
  --icon-TrigramForHeaven: "\2630";
  --icon-WhiteSmilingFace: "\263A";
  --icon-WhiteFrowningFace: "\2639";
  --icon-BlackSquare: "\25A0";
}
