/* sync this with lichessTools.js icon */
:root {
  /* Lichess built-in icons
     see https://github.com/lichess-org/lila/blob/master/modules/ui/src/main/Icon.scala
     and https://lichess1.org/assets/oops/font.html */
  --icon-CautionTriangle: "\e000";
  --icon-Link: "\e001";
  --icon-Rabbit: "\e002";
  --icon-ShareIos: "\e003";
  --icon-ShareAndroid: "\e004";
  --icon-Gear: "\e005";
  --icon-DieSix: "\e006";
  --icon-FlagKingHill: "\e007";
  --icon-FlameBlitz: "\e008";
  --icon-Feather: "\e009";
  --icon-Turtle: "\e00a";
  --icon-FlagChessboard: "\e00b";
  --icon-ArcheryTarget: "\e00c";
  --icon-ThreeCheckStack: "\e00d";
  --icon-UploadCloud: "\e00e";
  --icon-ExternalArrow: "\e00f";
  --icon-AnalogTv: "\e010";
  --icon-RssFeed: "\e011";
  --icon-StudyBoard: "\e012";
  --icon-Shield: "\e013";
  --icon-InkQuill: "\e014";
  --icon-Target: "\e015";
  --icon-Crown: "\e016";
  --icon-LineGraph: "\e017";
  --icon-GraduateCap: "\e018";
  --icon-PaperAirplane: "\e019";
  --icon-ZoomIn: "\e01a";
  --icon-Expand: "\e01b";
  --icon-Atom: "\e01c";
  --icon-List: "\e01d";
  --icon-Antichess: "\e01e";
  --icon-Microscope: "\e01f";
  --icon-ChasingArrows: "\e020";
  --icon-CrownElite: "\e021";
  --icon-Funnel: "\e022";
  --icon-Checkmark: "\e023";
  --icon-InternalArrow: "\e024";
  --icon-PlayTriangle: "\e025";
  --icon-GreaterThan: "\e026";
  --icon-LessThan: "\e027";
  --icon-DiscBig: "\e028";
  --icon-DiscBigOutline: "\e029";
  --icon-X: "\e02a";
  --icon-ArrowDownRight: "\e02b";
  --icon-ArrowUpRight: "\e02c";
  --icon-PlusButton: "\e02d";
  --icon-MinusButton: "\e02e";
  --icon-Fire: "\e02f";
  --icon-DownTriangle: "\e030";
  --icon-UpTriangle: "\e031";
  --icon-Bullet: "\e032";
  --icon-Swords: "\e033";
  --icon-JumpLast: "\e034";
  --icon-JumpFirst: "\e035";
  --icon-JumpNext: "\e036";
  --icon-JumpPrev: "\e037";
  --icon-Pause: "\e038";
  --icon-Hamburger: "\e039";
  --icon-Globe: "\e03a";
  --icon-Book: "\e03b";
  --icon-BarGraph: "\e03c";
  --icon-Keypad: "\e03d";
  --icon-Berserk: "\e03e";
  --icon-Padlock: "\e03f";
  --icon-FlagOutline: "\e040";
  --icon-BubbleSpeech: "\e041";
  --icon-BubbleConvo: "\e042";
  --icon-Envelope: "\e043";
  --icon-Group: "\e044";
  --icon-Trophy: "\e045";
  --icon-ThumbsUp: "\e046";
  --icon-Back: "\e047";
  --icon-CautionCircle: "\e048";
  --icon-NotAllowed: "\e049";
  --icon-RandomColor: "\e04a";
  --icon-Pencil: "\e04b";
  --icon-Cogs: "\e04c";
  --icon-Tag: "\e04d";
  --icon-Clock: "\e04e";
  --icon-Trash: "\e04f";
  --icon-User: "\e050";
  --icon-StarOutline: "\e051";
  --icon-Star: "\e052";
  --icon-MoreTriangle: "\e053";
  --icon-Eye: "\e054";
  --icon-Power: "\e055";
  --icon-Download: "\e056";
  --icon-Search: "\e057";
  --icon-Forward: "\e058";
  --icon-UltraBullet: "\e059";
  --icon-Storm: "\e05a";
  --icon-Tools: "\e05b";
  --icon-Bullseye: "\e05c";
  --icon-Agent: "\e05d";
  --icon-Mic: "\e05e";
  --icon-BarChart: "\e05f";
  --icon-InfoCircle: "\e060";
  --icon-ScreenDesktop: "\e061";
  --icon-PhoneMobile: "\e062";
  --icon-Multiboard: "\e063";
  --icon-HeartOutline: "\e064";
  --icon-FlagRacingKings: "\e065";
  --icon-Crazyhouse: "\e066";
  --icon-Tshirt: "\e067";
  --icon-Heart: "\e068";
  --icon-RadioTower: "\e069";
  --icon-BellOutline: "\e06a";
  --icon-Disc: "\e06b";
  --icon-Wings: "\e06c";
  --icon-DiscOutline: "\e06d";
  --icon-Handset: "\e06e";
  --icon-ArrowThruApple: "\e06f";
  --icon-Clipboard: "\e070";
  --icon-Move: "\e071";
  --icon-Ibeam: "\e072";
  --icon-Cancel: "\e073";
  --icon-Voice: "\e074";
  --icon-Mask: "\e075";
  --icon-OneHalf: "\e076";
  --icon-Mute: "\e077";
  --icon-Reload: "\e078";
  --icon-AccountCircle: "\e079";
  --icon-Logo: "\e07a";
  --icon-Switch: "\e07b";
  --icon-Blindfold: "\e07c";
  --icon-NextLine: "\e07d";
  --icon-Cpu: "\e07e";

  /* LiChess Tools Icons */
  --icon-ShowTranspositions: "T";
  --icon-FloppyDisk: "\1F4BE";
  --icon-LeftwardsDoubleHeadedArrow: "\219E";
  --icon-LeftwardsArrow: "\2190";
  --icon-DownwardsZigzagArrow: "\21AF";
  --icon-RightwardsArrow: "\2192";
  --icon-RightwardsDoubleHeadedArrow: "\21A0";
  --icon-SquareFourCorners: "\26F6";
  --icon-Mirror: "\1F99E";
  --icon-NorthEastDoubleArrow: "\21D7";
  --icon-RightwardsPairedArrows: "\21C9";
  --icon-WhiteScissors: "\2704";
  --icon-BlackScissors: "\2702";
  --icon-CircledLatinCapitalLetterY: "\24CE";
  --icon-EditorialCoronis: "\2E0E";
  --icon-PushPin: "\1F4CC";
  --icon-WarningSign: "\26A0";
  --icon-CryingFace: "\1F622";
  --icon-SlightlyFrowningFace: "\1F641";
  --icon-NeutralFace: "\1F610";
  --icon-SlightlySmilyingFace: "\1F642";
  --icon-GrinningFaceWithSmilingEyes: "\1F601";
  --icon-NorthEastArrowWithHook: "\2924";
  --icon-Comet: "\2604";
  --icon-WhiteChessKnight: "\2658";
  --icon-WhiteChessBishop: "\2657";
  --icon-WhiteChessRook: "\2656";
  --icon-WhiteChessQueen: "\2655";
  --icon-WhiteChessKing: "\2654";
  --icon-WhiteStar: "\2606";
  --icon-BulletPoint: "\2022";
  --icon-Ellipsis: "\2026";
  --icon-ThumbsUpSign: "\1F44D";
  --icon-ThumbsDownSign: "\1F44E";
  --icon-PoutingFace: "\1F621";
  --icon-SmilingFaceWithHorns: "\1F608";
  --icon-SparklingHeart: "\1F496";
  --icon-SuperscriptCapitalL: "\00A0\1D38";
  --icon-SuperscriptCapitalT: "\00A0\1D40";
  --icon-WhiteChessPawn: "\2659";
  --icon-Opposition: "\260D";
  --icon-Document: "\1F5CE";
  --icon-UpwardsWhiteArrow: "\21E7";
  --icon-DownwardsWhiteArrow: "\21E9";
  --icon-Mate: "\266F";
  --icon-OpenBook: "\1F4D6";
  --icon-Checked: "\2713";
  --icon-RedX: "\2716";
  --icon-Print: "\1F5B6";
  --icon-LightVerticalAndBottomRight: "\23BF";
  --icon-ExclamationQuestionMark: "\2049";
  --icon-BlackDownPointingSmallTriangle: "\25BE";
  --icon-BlackRightPointingSmallTriangle: "\25B8";
  --icon-TrigramForHeaven: "\2630";
  --icon-WhiteSmilingFace: "\263A";
  --icon-WhiteFrowningFace: "\2639";
}
