/* generate this with IconGenerator */
:root {
  --icon-CautionTriangle: "\E000";
  --icon-Link: "\E001";
  --icon-Rabbit: "\E002";
  --icon-ShareIos: "\E003";
  --icon-ShareAndroid: "\E004";
  --icon-Gear: "\E005";
  --icon-DieSix: "\E006";
  --icon-FlagKingHill: "\E007";
  --icon-FlameBlitz: "\E008";
  --icon-Feather: "\E009";
  --icon-Turtle: "\E00A";
  --icon-FlagChessboard: "\E00B";
  --icon-ArcheryTarget: "\E00C";
  --icon-ThreeCheckStack: "\E00D";
  --icon-UploadCloud: "\E00E";
  --icon-ExternalArrow: "\E00F";
  --icon-AnalogTv: "\E010";
  --icon-RssFeed: "\E011";
  --icon-StudyBoard: "\E012";
  --icon-Shield: "\E013";
  --icon-InkQuill: "\E014";
  --icon-Target: "\E015";
  --icon-Crown: "\E016";
  --icon-LineGraph: "\E017";
  --icon-GraduateCap: "\E018";
  --icon-PaperAirplane: "\E019";
  --icon-ZoomIn: "\E01A";
  --icon-Expand: "\E01B";
  --icon-Atom: "\E01C";
  --icon-List: "\E01D";
  --icon-Antichess: "\E01E";
  --icon-Microscope: "\E01F";
  --icon-ChasingArrows: "\E020";
  --icon-CrownElite: "\E021";
  --icon-Funnel: "\E022";
  --icon-Checkmark: "\E023";
  --icon-InternalArrow: "\E024";
  --icon-PlayTriangle: "\E025";
  --icon-GreaterThan: "\E026";
  --icon-LessThan: "\E027";
  --icon-DiscBig: "\E028";
  --icon-DiscBigOutline: "\E029";
  --icon-X: "\E02A";
  --icon-ArrowDownRight: "\E02B";
  --icon-ArrowUpRight: "\E02C";
  --icon-PlusButton: "\E02D";
  --icon-MinusButton: "\E02E";
  --icon-Fire: "\E02F";
  --icon-DownTriangle: "\E030";
  --icon-UpTriangle: "\E031";
  --icon-Bullet: "\E032";
  --icon-Swords: "\E033";
  --icon-JumpLast: "\E034";
  --icon-JumpFirst: "\E035";
  --icon-JumpNext: "\E036";
  --icon-JumpPrev: "\E037";
  --icon-Pause: "\E038";
  --icon-Hamburger: "\E039";
  --icon-Globe: "\E03A";
  --icon-Book: "\E03B";
  --icon-BarGraph: "\E03C";
  --icon-Keypad: "\E03D";
  --icon-Berserk: "\E03E";
  --icon-Padlock: "\E03F";
  --icon-FlagOutline: "\E040";
  --icon-BubbleSpeech: "\E041";
  --icon-BubbleConvo: "\E042";
  --icon-Envelope: "\E043";
  --icon-Group: "\E044";
  --icon-Trophy: "\E045";
  --icon-ThumbsUp: "\E046";
  --icon-Back: "\E047";
  --icon-CautionCircle: "\E048";
  --icon-NotAllowed: "\E049";
  --icon-RandomColor: "\E04A";
  --icon-Pencil: "\E04B";
  --icon-Cogs: "\E04C";
  --icon-Tag: "\E04D";
  --icon-Clock: "\E04E";
  --icon-Trash: "\E04F";
  --icon-User: "\E050";
  --icon-StarOutline: "\E051";
  --icon-Star: "\E052";
  --icon-MoreTriangle: "\E053";
  --icon-Eye: "\E054";
  --icon-Power: "\E055";
  --icon-Download: "\E056";
  --icon-Search: "\E057";
  --icon-Forward: "\E058";
  --icon-UltraBullet: "\E059";
  --icon-Storm: "\E05A";
  --icon-Tools: "\E05B";
  --icon-Bullseye: "\E05C";
  --icon-Agent: "\E05D";
  --icon-Mic: "\E05E";
  --icon-BarChart: "\E05F";
  --icon-InfoCircle: "\E060";
  --icon-ScreenDesktop: "\E061";
  --icon-PhoneMobile: "\E062";
  --icon-Multiboard: "\E063";
  --icon-HeartOutline: "\E064";
  --icon-FlagRacingKings: "\E065";
  --icon-Crazyhouse: "\E066";
  --icon-Tshirt: "\E067";
  --icon-Heart: "\E068";
  --icon-RadioTower: "\E069";
  --icon-BellOutline: "\E06A";
  --icon-Disc: "\E06B";
  --icon-Wings: "\E06C";
  --icon-DiscOutline: "\E06D";
  --icon-Handset: "\E06E";
  --icon-ArrowThruApple: "\E06F";
  --icon-Clipboard: "\E070";
  --icon-Move: "\E071";
  --icon-Ibeam: "\E072";
  --icon-Cancel: "\E073";
  --icon-Voice: "\E074";
  --icon-OneHalf: "\E076";
  --icon-Mute: "\E077";
  --icon-Reload: "\E078";
  --icon-AccountCircle: "\E079";
  --icon-Logo: "\E07A";
  --icon-Switch: "\E07B";
  --icon-Cpu: "\E07E";

}