/* CSS in preferences should not be under body.lichessTools, as the class can be removed when the extension is disabled */


nav.page-menu__menu a.lichessTools-menu span {
  filter: drop-shadow(0px 0px 5px black);
}

body.dark nav.page-menu__menu a.lichessTools-menu span {
  filter: drop-shadow(0px 0px 5px white);
}

@media not print and (prefers-color-scheme: dark) {
  body.system nav.page-menu__menu a.lichessTools-menu span {
    filter: drop-shadow(0px 0px 5px white);
  }
}


div.lichessTools-preferences section[data-pref] {
  position:relative;
}

div.lichessTools-preferences section[data-pref] a.lichessTools-infoIcon {
  position:absolute;
  right:-1.5em;
}

div.lichessTools-preferences p.saved {
  position: fixed;
  bottom: 1rem;
  width: auto;
  left: 2rem;
  z-index:10;
}

div.lichessTools-preferences div.links {
  margin-top: -1em;
  margin-bottom: 1em;
}

div.lichessTools-preferences h1 {
  width:fit-content;
}

div.lichessTools-preferences h1:hover ~ div.links a {
  animation: lichessTools-fire 1.5s ease-in-out infinite alternate;
}


div.lichessTools-preferences div.links .blog {
  float:right;
}

div.lichessTools-preferences form > div {
  padding-top:3em;
}

div.lichessTools-preferences h3 {
  position: relative;
  top: -0.75em;
  font-size:x-large;
  width:100%;
  z-index:1;
}

div.lichessTools-preferences h3 > label {
  float:right;
}

div.lichessTools-preferences input.categoryToggle {
  display:none;
}

div.lichessTools-preferences form > div:has(input.categoryToggle) > h3 label {
  cursor:zoom-out;
}

div.lichessTools-preferences form > div:has(input.categoryToggle:checked) > h3 label {
  cursor:zoom-in;
}

div.lichessTools-preferences form > div:has(input.categoryToggle:checked) section {
  display:none;
}

div.lichessTools-preferences form > div:has(input.categoryToggle:checked) > h3 {
  width:100%;
}

div.lichessTools-preferences form > div:has(input.categoryToggle:checked) > h3:after {
  margin-left: 1em;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 80%;
  height: 1px;
  background: linear-gradient(to right, rgba(214, 79, 0, 0.5), hsl(37, 7%, 14%) 80%);
}

@keyframes lichessTools-fire {
  0% {
    text-shadow: 0 .008em .127em #fefcc9,.055em -0.066em .2em #feec85,-0.111em -0.127em .272em #ffae34,.111em -0.272em .411em #ec760c,-0.111em -0.456em .416em #cd4606,0 -0.533em .577em #973716,.055em -0.55em .533em #451b0e
  }

  100% {
    text-shadow: 0 0 .111em #fefcc9,.055em -0.055em .166em #fefcc9,-0.111em -0.111em .222em #feec85,.122em -0.233em .333em #ffae34,-0.122em -0.322em .277em #ec760c,0 -0.456em .444em #cd4606,.055em -0.5em .444em #973716
  }
}


div.lichessTools-preferences .lichessTools-fire {
  animation: lichessTools-fire 1.5s ease-in-out infinite alternate;
}

div.lichessTools-preferences .lichessTools-globalSwitch {
  margin:0;
}

body.lichessTools-globalDisable .lichessTools-preferences div.account form > div {
  pointer-events:none;
  opacity:0.5;
}