body.lichessTools div.tview2 move eval.lichessTools-cevalDecimals {
  margin-left: 0.5em;
}

body.lichessTools .lichessTools-cevalDecimals-toggled .pv_box .pv strong {
  width:3.4em;
}

body.lichessTools:has(.lichessTools-cevalDecimals-toggled) .analyse__controls button[data-mode] {
  max-width: fit-content;
}

@media (max-width: 799.29px) and (orientation: portrait) {

  body.lichessTools:has(.lichessTools-cevalDecimals-toggled) .analyse__controls button[data-mode].latent {
    padding-left: 0.25em;
  }

  body.lichessTools:has(.lichessTools-cevalDecimals-toggled) .analyse__controls button[data-mode].latent::after {
      padding-inline-end: 0.25em;
  }
}