body.lichessTools a.lichessTools-previousStudy span {
  display: block;
  font-size: xx-small;
  font-family: Verdana,sans-serif;
  max-height: 2.5em;
  overflow: hidden;
}

/* Prettier */
body.lichessTools.lichessTools-prettier nav#topnav a.lichessTools-previousStudy {
  flex-direction: column;
  align-items: flex-start !important;
  justify-content: center;
}
